[2019-06-25 11:28] MabezDev opened #1 "Complete call abi for xtensa targets"
300728773578bf5b604b913f4874abb1b8f92880 added basic support for the xtensa call abi, but it can be improved further by adding logic to put small arrays and other types into the gpr's as seen in https://github.com/espressif/clang-xtensa.

[2019-07-21 21:33] 0ndorio opened #2 "Compilation fails on `compiler_builtin` v0.1.18"
It seems like the latest update of `compiler_builtin` to v0.1.18 got us in a situation where it is no longer possible to build for the `xtensa-esp32-none-elf` target.

The issue appears due to the line `assert!(stack_required)` of `classify_arg_ty()` in `src/librustc_target/abi/call/xtensa.rs`.

the stack trace

[code]

Some debug output I could inject:

[code]

[2019-07-25 16:14] #2 closed

[2019-07-25 16:14] 0ndorio commented on #2
Fixed by #3.

[2019-08-02 13:08] lexxvir opened #4 "NVS and `compiler_builtins` collision"
Hi @MabezDev,

It is not issue of your fork, but I just want to publish my experience with NVS (Non Volatile Storage of ESP32). I think we could track it here.

ESP IDF has such component as NVS. It is key-value storage built upon flash. Any action with NVS translates to flash interactions. Because application runs also from flash, IDF internally use some locks, to prevent flash interaction until

[2019-08-10 20:14] pacmancoder commented on #4
@lexxvir I think I found some temporary solution:

If you are targeting your rust code as static library, it can be processed with objdump to rename all conflicting symbols:

Here what I have done for my esp8266 project:
[code]

Where libfirmware.a is my resulting static library, which I link inside IDF shim project.

symbol_renaming.map has the following contents:
[code]

Example project can be f

[2019-08-11 07:56] lexxvir commented on #4
Hi @pacmancoder,

Thank you for share you workaround!

Unfortunately, I do not embedded Rust static library into C code, contrarily I compile regular Rust crate (lib/bin) that uses C code internally (IDF and couple of existing libraries). So I have not stage where I can remap symbol names.

Currently I use dumb workaround. I redefined linker used by the Rust compiler (through `.cargo/config`) to s

[2019-08-11 18:28] pacmancoder opened #5 "Panic handler crate compilation fails in debug configuration"
Hi, @MabezDev

I have the following issue:
Compilation of panic handlers (e.g. panic-abort, panic-halt) for esp8266 target fails in the debug mode with the following errors:
[code]

Interestingly enough, with release configuration it builds just fine :confused:

I am building with the following commands/environment:
[code]

[2019-08-11 18:36] pacmancoder opened #6 "Compilation fails because of missing esp32 linker(gcc) when esp8266 target selected"
Hi @MabezDev

I found the following issue:
Compilation fails with error for xtensa-esp8266-none-elf target because of missing xtensa-esp32-elf-gcc executable.

**Expected result:**
Rust uses xtensa-lx106-elf-gcc from official toolchain as linker parameter

**Actual result:**
Rust tries to find xtensa-esp32-elf-gcc and fails

**Temporary solution:**
Manually set correct linker by adding _"-C linker

[2019-08-12 06:52] RomanSamusevich commented on #4
Hi @lexxvir
I think it depends on your work environment. I have not found this problem. compiler_builtins works fine by default.
I know that because of printf different errors may appear (I still do not quite understand why).
I use this code for output:
[code]

[2019-08-13 06:36] lexxvir commented on #4
Hi @RomanSamusevich,

Do you use NVS? This issue appears only when you call NVS related function from IDF.

[2019-08-13 10:13] RomanSamusevich commented on #4
Hi @lexxvir
All nvs functions (nvs.h, nvs_flash.h) work for me (wifi has not tested yet).  I use the latest MabezDev / rust-xtensa, compiler-builtins 0.1.19 (standard unchanged).  I use cargo xbuild for assembly.

[2019-08-24 23:23] MabezDev commented on #6
Good catch. Espressif are in the process of porting to llvm8 so I will refrain from updating for now.

[2019-08-24 23:27] MabezDev commented on #5
Unfortnately the current LLVM fork does not support stack frame pointers, Rust uses frame pointers to generate debug symbols (which is why it works for you in release, although Rust still doesn't guarentee frame pointers won't be used). You will have to disable them by either setting debug = false under the debug and release profiles in your Cargo.toml or using the -C debuginfo=0 compiler flag.

T

[2019-08-24 23:27] #5 closed

[2019-08-31 14:48] lexxvir commented on #4
@romevich

Could please dump linker arguments when you linking your crate ?

[2019-09-04 06:45] romevich commented on #4
@lexxvir

cargo config

[code]

[2019-09-04 07:08] lexxvir commented on #4
@romevich Sorry, I mean arguments that _actually_ passed to the linker, not those you have configured.

Most easiest way to get all arguments it is define somewhere non existed function and call it:
[code]

So you should get linker error with full command line arguments (explicit and implicit ones).

Or you can redefine linker in `.cargo/config` to shell script and just dump passed arguments to fi

[2019-09-05 05:30] romevich commented on #4
@lexxvir

[code]

[2019-09-05 14:04] 0ndorio opened #7 "Update to newer compiler version."
@MabezDev  Your repo is still based on  `rustc v1.33.0` but your patches apply without any complications on stable `rustc v1.37.0` (maybe even current beta or nightly).

What do you think about rebasing or merging onto a newer version? Especially as `rustc v1.36.0` stabilized the `alloc` crate which means that any `no_std` crate which calls `extern crate alloc` without the `#[feature(alloc)]` flag

[2019-09-05 16:27] MabezDev commented on #7
Oh really? I was under the impression the minimum llvm version for rust was bumped since, if that's not the case I'd happily rebase.

[2019-09-05 16:46] 0ndorio commented on #7
You may do a few tests before but at least for me it worked out. For example `https://github.com/cuviper/num-bigint/tree/alloc`  (an open merge request on `num-bigint` for `no_std` environments) couldn't be compiled before not it works just fine.

[2019-09-05 18:50] MabezDev commented on #7
Looked into it a bit further, [as per the 1.33 change log](https://github.com/rust-lang/rust/blob/master/RELEASES.md#compiler-3) the minimum supported llvm version is 6. So it should be fine to rebase. I'll try to get to it this weekend.

[2019-09-06 09:43] lexxvir commented on #4
@romevich It seems you are using ESP IDF v.4.0 (or master branch). I use stable release v.3.3. There is chance that NVS implementation was changed and it fixed issue somehow.

I will try to migrate to IDF 4.0 and check issue again.

[2019-09-06 09:49] pacmancoder commented on #4
@lexxvir Forgot to mention, I have got this issue on the master branch for esp8266 RTOS SDK (IDF-style).

[2019-09-16 13:25] pacmancoder commented on #7
Hello! So, it there are any news on rebasing rust-xtensa to 1.36/1.37 ? 😃

[2019-09-17 12:32] 0ndorio commented on #7
@pacmancoder If you want to try it you could temporary use https://github.com/0ndorio/rust-xtensa/commit/dfad57c025b9206ebbba6691ad74746779ab00c9. This is a merge of stable 1.37 without any merge conflicts during the process.

[2019-09-17 20:10] MabezDev commented on #7
Sorry this took so long! I've got a PR open with the rebase, I'd like to give it few days for some people to test and chime in on any issue before merging.

[2019-09-18 18:45] MabezDev commented on #7
Closed in #8

[2019-09-18 18:45] #7 closed

[2019-11-22 22:15] rodrigorc opened #13 "Crash dropping `Arc`"
I've had some crashes when dropping `core::sync::Arc` objects. After some debugging I tracked the issue down to a LLVM bug with the atomic substraction, that I reported [here](https://github.com/espressif/llvm-xtensa/issues/12), but not reply yet :-(.

For now I worked around the LLVM bug with this hack:
[code]
I admit that this is not pretty, I'd rather modify `atomic_sub()` itself, but it is too

[2019-11-26 10:14] MabezDev commented on #13
Thanks for posting here, I'm sure many will find this helpful, until it is fixed.

[2019-11-26 11:26] rodrigorc commented on #13
Would you take a pull request with this patch, or maybe another similar hack to minimize the impact of this LLVM bug? I think it would ease the adoption Rust for the ESP32. as `Arc` is a basic building block for many embedded projecs.

[2019-11-29 17:06] jeandudey opened #14 "Still alive?"
I would like to contribute in the weekends on my free to get some projects working

[2019-11-30 13:01] lexxvir commented on #14
This repo is alive! We are following Rust main repo and applying xtensa specific patches on top of it. Currently we trying to update to 1.39, but have an issue, see #12. It would be cool if you'll find a way to fix it or workaround somehow.

[2019-11-30 16:51] jeandudey commented on #14
I'll take look today to see what can I do

[2019-11-30 17:04] lexxvir commented on #14
It seems I found solution, see https://github.com/MabezDev/rust-xtensa/pull/12#issuecomment-559996119

[2019-12-07 13:27] #6 closed

[2019-12-11 02:58] reitermarkus commented on #4
I'm using ESP-IDF 4.0-beta2 and there don't seem to be any conflicting symbols with NVS.

[2019-12-14 18:40] pacmancoder opened #16 "Dangerous allocation linker error when using custom allocators"
I have faced the issues with the "dangerous relocation" linker errors when compiling the rust library and linking it to the main ESP8266 project (IDF-style ESP8266 RTOS SDK v3.3).

I have tried to overcome this issue with solution proposed by @lexxvir in [the comment](https://github.com/MabezDev/rust-xtensa/pull/12#issuecomment-559996119), substituting linker by the stript; Also tried to add `-C l

[2019-12-15 22:17] pacmancoder commented on #16
Found some interesting behavior. I have the following code snippet(part of the xTaskCreate wrapper wtih rust closures):
[code]
It compiles without any problems, but fails in runtime, because looks like the task code itself should be located in .iram1 section.

When I tried to specify the section with `#[link_section = ".iram1"]` I have faced the same issue as with dynamic allocation:

[code]

Look

[2019-12-16 07:15] lexxvir commented on #16
@pacmancoder

Regarding first issue: how do you build `libcore`, `liballoc` and other crates from Rust std? Probably these crates don't get `-Wa,--auto-lit-pools` option when linking into object files.

Regarding second issue: I advise you to check [`freertos_rs`](https://crates.io/crates/freertos_rs) crate, I use it with ESP32 without issues.

[2019-12-16 09:23] pacmancoder commented on #16
@lexxvir I tried to substitute the original xtensa-lx106-elf-gcc binary with passthrough script for linker args, which I guess, should force any libraries including libcore and liballoc to build with `-Wa,--auto-lit-pools` - but still, no luck. 😞

[2019-12-16 17:04] lexxvir commented on #16
@pacmancoder Do you have minimal example that reproduces the issue?

We already had issues with heap allocator stuff previously, see https://github.com/MabezDev/xtensa-rust-quickstart/issues/2.
It seems that rustc somehow bypassing regular compilation chain when generates allocator code.
Maybe it worth to try to pass `-Wa,--auto-lit-pools` option at rustc itself compilation stage?

[2019-12-17 06:13] pacmancoder commented on #16
@lexxvir Good, I'll prepare an example somewhere on the weekends

[2019-12-30 19:29] bjoernQ commented on #16
@pacmancoder seems I get same problems you see as soon as I use a custom allocator and also no luck solving this currently

regarding your ugly workaround: how do you get this working without the linker complaining about duplicate symbols? Or did you patch the Rust sources to suppress generation of the `__rust_*` functions?

[2019-12-31 08:56] pacmancoder commented on #16
@bjoernQ Hmm, somehow I didn't get any complaints about duplicate symbols. Note that on the rust side I am only compiling the static library, not the binary. So final symbol resoulution is up to IDF link process in my case. (ESP8266 RTOS SDK)

[2019-12-31 09:11] bjoernQ commented on #16
@pacmancoder ah sure - that should explain it - I somehow missed the fact you are not building a final binary but a library. For me it should then work to patch Rust to not generate the `__rust_*` functions. Thanks for the hint!

[2019-12-31 13:08] bjoernQ commented on #16
I looked a bit more into it and while I haven't found a solution I made at least some interesting observations:

After the build failed at the linking step I looked into `target\xtensa-esp32-none-elf\release\deps` - there are two "compilation units" - one is what was generated from my `main.rs` the other one seems to be what `src/librustc_codegen_llvm/allocator.rs` generates. The strange thing: fo

[2020-01-17 10:16] MabezDev opened #18 "Fix the Rust ABI implementation"
We should make sure that [our ABI implementation](https://github.com/esp-rs/rust/blob/esp/compiler/rustc_target/src/abi/call/xtensa.rs) performs identically to the [llvm implementation](https://github.com/espressif/llvm-project/blob/36ac5025f4346a01213995bdba591a6ebb513e50/clang/lib/CodeGen/TargetInfo.cpp#L9686), not including vaargs as Rust does not support these.

The current implementation is b

[2020-01-18 20:32] MabezDev opened #20 "New fork testing"
Espressif has just released there new iteration of the fork, its not quite working for Rust as is because of [this issue](https://github.com/espressif/llvm-project/issues/10). However, I have forked and made the required changes to get it working [here](https://github.com/MabezDev/llvm-project/tree/llvm9-rust). #19 is the branch with changes required in this fork.

@bjoernQ @pacmancoder @rodrigorc

[2020-01-18 20:32] MabezDev commented on #14
Very much so :)

[2020-01-18 20:32] #14 closed

[2020-01-18 20:33] MabezDev commented on #13
Could you try #20 and see if it's fixed?

[2020-01-18 20:33] MabezDev commented on #1
Supercede by #18

[2020-01-18 20:33] #1 closed

[2020-01-19 18:29] rodrigorc commented on #20
I've just compiled this branch, and indeed it solves my issue with `Arc` and atomics.
It also seems to fix that other bug that forced me to add `--emit llvm-bc` to the rustflags.

The only weird think is that I had to add `-DLLVM_CXX_STD=c++14` to cmake when building `clang` or it would not compile. Something to do with `std::make_unique`. Maybe it should be the default?

Thank you so much for you

[2020-01-20 07:42] lexxvir commented on #20
Hi @MabezDev,

Thank you for all work you've done!

I successfully built LLVM & Rust from your branches (llvm9-rust). Now I can remove `"--emit", "llvm-bc,link"` from `.cargo/config`.
On my shallow testing all works!

Now we on one step near to integrate Xtensa arch into upstream! :tada:

[2020-01-20 15:15] MabezDev commented on #20
@rodrigorc

Ah so this is something I forgot to port when rebasing the patchset to 9.0.1, as I don't compile clang I didn't notice. I expect this will work properly when the espressif guys rebase the fork properly instead of my dodgy attempt :joy:

@lexxvir Glad it seems to be working, let me know if you run into any issues.

FYI I released a short blog on the progress on using Rust on the esp32:

[2020-01-21 13:13] pacmancoder commented on #20
@MabezDev thanks for your great work! Sadly, I won't have much time for testing in the near few weeks, but I will certainly try it out as soon as possible and leave updates under the tickets.

[2020-01-26 10:15] reitermarkus commented on #13
It's working without the workaround now.

[2020-01-26 10:15] reitermarkus commented on #20
In the previous version of the fork I had noticed a weird bug in `std::net::ToSocketAddrs` which I tracked down to somewhere inside of `Option::take` but couldn't fix it or reproduce it outside of my sample project. This seems to be fixed now.

There is however a regression regarding `std::net::ToSocketAddrs`, which can easily be reproduced with the following:

[code]

This produces the following

[2020-01-26 13:12] MabezDev commented on #20
Thanks for testing @reitermarkus. Would you mind reporting the issue on the llvm fork?

[2020-01-28 02:10] reitermarkus commented on #20
Reported it here: https://github.com/espressif/llvm-project/issues/13

[2020-02-16 03:51] lkolbly commented on #16
So it seems Rust is indeed hand-generating the `__rust_alloc` et. al. symbols [here](https://github.com/MabezDev/rust-xtensa/blob/xtensa-target/src/liballoc/alloc.rs). Building for ESP8266, the generated code compiles into:
[code]
With relocations that look like:
[code]
I interpret this to mean that ultimately, line 0xb (the l32r instruction) will reference `.LCPI0_0`, which in turn will be popula

[2020-02-16 18:50] lkolbly commented on #16
Alright, managed to compile a copy of ld which has some handy print statements in it, and got this:
[code]
i.e. `self_address = 0x40212DF3` and `relocation = 0x4010051C`, my interpretation (I may be wrong) is that the former is the program counter and the latter is the target of the relocation operation, i.e. the address of the literal value storing the address of `__rg_alloc`.

An astute observer

[2020-02-19 00:49] lkolbly commented on #16
Just tested with the latest Xtensa LLVM from https://github.com/espressif/llvm-project, and it seems to be fixed just by using that.

[2020-02-19 19:17] MabezDev commented on #16
Ah, I was about to suggest trying the new fork. The original is pretty broken in many ways.

[2020-04-07 11:12] MabezDev commented on #20
Hi all, the new fork is now the default in `xtensa-target`, the quickstart instructions has been updated too. Thanks for testing guys!

[2020-04-07 11:12] #20 closed

[2020-04-07 11:16] #13 closed

[2020-04-07 11:16] MabezDev commented on #4
Hope this is all sorted now. Let me know if it still persists.

[2020-04-07 11:16] #4 closed

[2020-04-07 11:17] #16 closed

[2020-04-07 18:59] vmarkushin opened #27 "ESP8266 build regression"
Hi,

After today's update, I started getting this compilation error of 'quickstart' project:
[code]

...and another error when building with `xargo`:
[code]

Rustc info:
[code]

Note: for `xtensa-esp32-none-elf` target the project compiles successfully.

Should I report the issue on espressif's LLVM fork?

[2020-04-09 21:54] MabezDev commented on #27
Thanks for the report! The current ABI in the `rust-xtensa`, is based of the old forks ABI. It's quite possible that, this ABI implementation is now wrong, especially for the esp8266 as this gets tested alot less than the esp32. I opened https://github.com/MabezDev/rust-xtensa/issues/18 previously as I was concerned this might be the case.

Unfortunately, I've had a lot on my plate recently, and h

[2020-04-12 18:47] vmarkushin commented on #18
Here is information about rustc's type layouts debugging: https://www.ralfj.de/blog/2020/04/04/layout-debugging.html

[2020-05-13 00:56] zinahe opened #29 "target `xtensa-esp8266-none-elf` does not support [bin] crate types"
Hi,

First of all, thanks for your hard work.

It seems the **xtensa-esp8266-none-elf** target somehow differs from the ESP32 in that I'm not able to build a bin with it; where as that build succeeds for **xtensa-esp32-none-elf**.

I am getting this error:

`error: cannot produce bin for 'hello v0.1.0 (/path/to/project)' as the target 'xtensa-esp8266-none-elf' does not support these crate types`

[2020-05-13 01:08] zinahe commented on #29
Hi,

I dug some more and there is indeed a missing `executables: true,` in **librustc_target/spec/xtensa_esp8266_none_elf.rs**.

I'm not sure if simply adding it will fix my issue, but I'll give that a try and revert.

[2020-05-15 17:42] arjanmels opened #30 "Old version of xtensa as submodule"
When I build using this repo an old version of llvm is used as submodule. The git repo points to a specific commit, which is not 9.0.1

[2020-05-15 22:09] zinahe commented on #29
Just to report back. That fixed it for me. Hope someone finds this helpful.

-Zinahe A.

[2020-05-15 22:09] #29 closed, assigned to nobody

[2020-05-20 14:23] zinahe commented on #27
@vmarkushin,

Please see below regarding the second error:

https://github.com/MabezDev/rust-xtensa/issues/29#issuecomment-627683708

After that, I was able to build and run a "blinky" on ESP8266.

Cheers,

-Zinahe A.

[2020-05-30 13:11] arjanmels opened #32 "Add support for new style asm macro"
We should implement support for new style inline assembly. See for more info: https://github.com/rust-lang/rust/pull/69171

[2020-05-31 14:00] MabezDev commented on #30
Fixed in #34

[2020-05-31 14:00] #30 closed, assigned to nobody

[2020-06-13 12:15] vmarkushin commented on #27
@zinahe
This kinda helped me. I also, switched from `xargo` to `cargo-xbuild` to successfully build the project.

[2020-06-13 12:15] #27 closed, assigned to nobody

[2020-07-18 12:07] arjanmels opened #38 "Structure alignment !=4 bytes"
When creating structures with u8 or u16 members, these are not aligned to 4 byte boundaries.

This leads to alignment exceptions when they are stored in Flash or IRAM.

I am not certain if it can be changed via the data-layout in the rust compiler or if it needs to be addressed in llvm.

Alternative is to implemented the alignment exception handler. However this will be slow.

@MabezDev, @andreisf

[2020-07-18 12:32] arjanmels commented on #38
If I change the data_layout string in xtensa_esp32_none_elf.rs to: "e-m:e-p:32:32-i8:32-i16:32-i64:64-n32".
I get compile errors:

[code]

[2020-07-18 12:37] Gasper commented on #38
I think you'll probably want something like this: e-m:e-p:32:32-i1:8:32-i8:8:32-i16:16:32-i64:64-f64:64-a:0:32-n32
as in `i<integer size>:<size>:<alignment>`
See this: https://llvm.org/docs/LangRef.html#data-layout

An if I understand correctly, the 'a' key for aggregate should align the structures

Besides the file you're editing I think you'll get runtime error if it doesn't match the LLVM data

[2020-07-18 12:56] arjanmels commented on #38
@Gasper Thanks, I am giving it a try. However, I think it should be a:32:32, to always force 32 bit alignment isn't it?
My understanding of a:\<abi\>:\<pref\>, is <abi> is the absolute minimum, <pref> is preferred.

[2020-07-18 13:29] Gasper commented on #38
Ah, yes, you're right. I guess the idea of preferred alignment is to have 4B alignment most of the time and exception handler for packed structures and similar cases...

And it also makes sense that you get that compile error, since those `u8`s are 1B-aligned.

[2020-07-19 19:58] arjanmels commented on #38
Oeps it seems, that the struct was not as literal placed in the text segment, but that I made a mistake in the link script.

Closing this issue

[2020-07-19 19:58] #38 closed, assigned to nobody

[2020-10-27 05:18] tlightsky opened #41 "Add a builder in docker"
so that any one can build the target only depend on docker,
(like this one: https://github.com/marcelstoer/docker-nodemcu-build)

[2020-10-27 14:31] jessebraham commented on #41
I have written this `Dockerfile` for this repository that you can try out if you wish. If there's interest it could be added here.
https://github.com/jessebraham/docker-rust-esp

[2020-11-08 23:06] PixelDust22 opened #42 "Atomic operation caused IllegalInstruction on esp32s2"
I tried this code:

[code]

and this triggered a panic:
[code]
This issue makes it impossible to use `Arc` on esp32.

Are atomic operations supported in this implementation?

Thank you!

[2020-12-11 13:15] MabezDev commented on #42
The esp32s2 uses an xtensa-lx7 processor, its likely the atomic implementation for xtensa-lx6 (what the esp32 uses) won't work. This is not a rust issue, but a llvm issue, I'd recommend asking over at https://github.com/espressif/llvm-project.

[2020-12-13 20:16] #42 closed, assigned to nobody

[2020-12-13 20:16] PixelDust22 commented on #42
Thanks for the hint!

[2021-02-11 08:03] jeikabu commented on #41
There's quite a few of these floating around:

- https://github.com/mtnmts/rust-esp32-container
- Based on https://github.com/ctron/rust-esp-container
    - https://github.com/dflemstr/rust-esp-container
    - https://github.com/jeikabu/rust-esp-container (disclaimer: mine)

Probably several more...

[2021-04-05 06:31] ivmarkov opened #46 "New targets for esp32s2 and esp32s3"
Given that for these MCUs Espressif provides separate toolchains, perhaps we need separate targets too. At the very least, the `linker` field in `TargetOptions` as well as the `cpu`  should be different.

Also: shall we create a target for esp32c3? I get it that it is not really 'xtensa', but it needs the same changes. Possibly based on some of the existing "riscv-" targets?

[2021-04-05 09:49] ivmarkov commented on #46
... and while we are at it, how about putting some extra info in the targets, like `unix`, vendor = `espressif` and env = `newlib`. Mentioned [here](https://github.com/MabezDev/rust-xtensa/pull/17#issuecomment-787905283).

For those who have no interest in using this with the ESP-IDF SDK, these would do no harm, as they won't be trying to build the STD crates anyway. However, for me this extra inf

[2021-04-15 22:47] MabezDev commented on #46
Hi @ivmarkov,

I've just updated the fork to 1.51, with a target def for the esp32s2, it seems esp32s3 support has not yet landed in llvm.

I'm not yet convinced this is necessary, and I think we should try and lean on upstream support where we can until we really need custom definitions.

As for the custom defs for libstd porting, I'm not apposed to them haven't really looked into the libstd port

[2021-04-22 20:29] kelnos opened #48 "ICE on 1.51 when building esp32-hal's alloc example"
Built rust-xtensa from c4c02e8375fccb31e5d0e0e1bf283e40413fe59b. Using esp32-hal https://github.com/esp-rs/esp32-hal/tree/94dc49fed351246ee57e9c3a4a28fe662b11165d and building with:
[code]
I get:
[code]

[2021-04-22 22:45] MabezDev commented on #48
Reported upstream, https://github.com/rust-lang/rust/issues/84455

[2021-06-28 10:45] tyan-boot opened #50 "Missing import in `unsupported::args`"
`library/std/src/sys/unsupported/args.rs` missing a `use crate::fmt`, this doesn't affect `cargo xbuild` because `xbuild` doesn't compile `std`. however `cargo build -Z build-std` will failed, and `build-std` did work before merge 1.53.0.

this has been fixed in rust-lang@cf79c06, may be we could cherry-pick this commit?

[2021-06-28 10:54] MabezDev commented on #50
Just cherry-picked it and pushed to the xtensa-target branch, want to give it a try now?

[2021-06-28 10:57] tyan-boot commented on #50
sure, i am still testing whether there is more changes which break `-Z build-std`, once it works, i could submit a MR.

[2021-06-28 12:35] tyan-boot commented on #50
it works, thanks.

[2021-06-28 12:35] #50 closed, assigned to nobody

[2021-07-15 13:12] lehmanju commented on #48
Seems to be fixed in nightly https://github.com/rust-lang/rust/issues/84455#issuecomment-858615036

[2021-07-16 11:41] peterwilli opened #51 "Having issues compiling with the latest pull (9b05fc7)"
Hi there,

Recently I have been having issue with compiling, and I tried different platforms and methods, all rebuilding the compiler exactly as per instructions, but all of them produce the follower error:

[code]

I tried to duckduckgo it but I cannot find any answer that points to a clue. I wanted to try and fix it but I've been up for the majority of the night trying to fix it but I can't find

[2021-07-17 07:49] peterwilli commented on #51
Alright, I managed to get it working!

I can't believe I skipped over it so often. The submodules were updates from the latest commit but not the one I checked out to. That's now fixed. I'll make sure to make a nice public image so others can use too. Working dockerfile: https://github.com/peterwilli/Lightwatch/blob/706efff5635c52fe570dd5f972973b8b6f169422/extras/docker/Dockerfile

[2021-07-17 07:49] #51 closed, assigned to nobody

[2021-07-22 14:36] ivmarkov commented on #46
Closing as the esp32s2 target is there, and the ESP-IDF-specific targets for Xtensa & RiscV are part of the libstd pull request.

[2021-07-22 14:36] #46 closed, assigned to nobody

[2021-07-23 10:59] georgik commented on #41
There is docker image with v1.50 binaries based on ivmarkov's repo with STD and Xtensa using pre-built toolchains which is using espressif/esp-idf Ubuntu 18 base image - built by GitHub Action: https://github.com/espressif/rust-esp32-example/blob/main/.github/workflows/publish-esp-idf-rust-image.yml
Dockerfile: https://github.com/espressif/rust-esp32-example/blob/main/Dockerfile

It's available al

[2021-07-23 11:03] georgik opened #57 "std-related patches review"
(Migrated from espressif/rust repo)
@igrr Patches in https://github.com/ivmarkov/rust/commits/stable provide an std-capable environment on top of ESP-IDF.

Some of these patches work around the fact that ESP-IDF is not completely POSIX-compatible.

Here is a list of things that can be fixed in ESP-IDF to reduce the number of changes we need to make in rust:

# Easy changes
* add posix_memalign imp

[2021-07-27 18:42] ivmarkov opened #59 "Enable the 'Issues' tab in esp-idf-sys, esp-idf-hal, embedded-svc and esp-idf-svc"
@MabezDev sorry to ping you here with that, but if you can open the Issues tab for these projects.
Seems that once I moved these to esp-rs, I no longer have permissions to do it myself.

[2021-07-27 20:38] MabezDev commented on #59
Ah it seems in the transfer it only gave you write access. I have now given you admin access on those repo's :)

[2021-07-27 20:38] #59 closed, assigned to nobody

[2021-07-30 13:57] KerryRJ opened #60 "LLVM ERROR: Not supported instr: <MCInst 237 <MCOperand Reg:42>>"
I am trying to build rust, on Windows 10 21h1, using both the default llvm-project and a custom llvm-project but am getting:-

"C:\\Dev\\Github\\rust\\build\\x86_64-pc-windows-msvc\\stage2\\bin\\rustc.exe" "--crate-name" "term" "--edition=2018" "library\\term\\src\\lib.rs" "--error-format=json" "--json=diagnostic-rendered-ansi" "--crate-type" "lib" "--emit=dep-info,metadata,link" "-C" "opt-level=3

[2021-07-30 19:35] ivmarkov commented on #57
@igrr, FYI:

I have been reflecting a bit on the current set of STD patches and looking into the libc Rust crate, and I have come up with updated patches, where the changeset is distributed a bit differently across (a) Rust libStd,  (b) the libc crate and (c) the ESP-IDF C code itself.

# Original plan:
* Minimal (as in 2-3 lines) changes to the libc crate
* The bulk of changes into the Rust libSt

[2021-07-30 20:29] ivmarkov commented on #60
Hmmm. So you are trying to build the Rust **compiler**, right?
Are you following the instructions for building it exactly?
This looks very suspicious to me:
`"--target" "xtensa-esp32-espidf"`

Any `.config/cargo.toml` file lurking somewhere in a parent directory of your rust compiler directory?

[2021-07-31 10:32] Urgau commented on #57
*Just a random guy how saw the blog post [Rust on Espressif chips](https://mabez.dev/blog/posts/esp-rust-espressif/) on reddit.*

I just wanted to say the [Target Tier Policy](https://doc.rust-lang.org/rustc/target-tier-policy.html) of Rust state:

It has been stated before by Rust projects guys (I don't remember where) that the unsupported shims (always returning an error if unsupported) has been

[2021-07-31 11:38] ivmarkov commented on #57
Thanks for the feedback!

Unfortunately not providing the above-mentioned functionality is not that simple as that would mean polluting libStd code **outside** of `sys/unix` with `#[cfg(target_os = "espidf")]` #ifdefs. For example, to switch-off the process API, I might need to conditionally exclude [this module](https://github.com/rust-lang/rust/blob/master/library/std/src/sys_common/mod.rs#L33)

[2021-07-31 15:42] ivmarkov commented on #57
@MabezDev @igrr @georgik

PRs submitted upstream:
[libc](https://github.com/rust-lang/libc/pull/2310)
[Rust LibStd](https://github.com/rust-lang/rust/pull/87666)

[2021-07-31 16:26] Urgau commented on #57
I agree that appreciable, but that's defeat the "if that's compile that's works" that so many people in the Rust community really appreciate. These kind of "not implemented" stubs are the opposite of that.

No problem that was just a suggestion from a random guy.

:+1:

[2021-07-31 16:36] Urgau commented on #57
@ivmarkov One remark, I think that you should include the target tier policy with the part checked/explain for your target.
See this [post](https://github.com/rust-lang/rust/pull/79608#issuecomment-846389567) from the BPF target support PR as an exemple.

EDIT: *You also miss to update the `src/doc/rustc/src/platform-support.md` file with your new target.*

[2021-07-31 17:11] ivmarkov commented on #57
@Urgau Your comments & suggestions are *really* appreciated - please keep sending those.

* Thanks for the eagle eye on the `platform-support.md` file - I'll update it shortly
* I'll also update my PR post as you suggested - by "answering" / "confirming" the Tier 3 questionnaire & statements. I was afraid that I'm kind of too verbose and ceremonial already, but ... I guess it doesn't hurt.

[2021-07-31 17:24] ivmarkov commented on #57
CI just complained about those targets missing from `platform-support.md`. You have a point.

[2021-07-31 18:33] ivmarkov opened #61 "Merging my new `esp_v1.54` branch which is based off from Rust stable (=1.54)"
Subject says it all.
* Branch available [here](https://github.com/ivmarkov/rust/tree/esp_v1.54.0)
* All Xtensa targets + RiscV targets + my LibStd changes (exactly the same that I submitted upstream) applied

[2021-07-31 19:37] Urgau commented on #57
:heart:

By talking about suggestion I have one more. You stated:

I think that you need to agree to both of them because the Rust project is [dual licensed](https://rustc-dev-guide.rust-lang.org/licenses.html) against MIT and Apache-2.0, this dual licensing impose contributors to agree on both licenses when doing a pull request but non-contributor (ie user) can choose which license they want: MIT

[2021-08-01 15:44] ivmarkov commented on #57
@Urgau Fixed :)

[2021-08-01 18:51] MabezDev commented on #61
Done :)

[2021-08-01 18:51] #61 closed, assigned to nobody

[2021-08-01 18:55] MabezDev commented on #48
The current 1.54 based esp branch has this fix included.

[2021-08-01 18:55] #48 closed, assigned to nobody

[2021-08-01 19:14] MabezDev opened #62 "esp 1.54 breaks Mac M1 builds"
1.54 Rust introduces a new compiler builtins version which is broken on M1 Mac's with LLVM 11.

`cargo:warning=clang: error: no such file or directory: 'rust-xtensa-dev/src/llvm-project/compiler-rt/lib/builtins/aarch64/lse.S'`

I believe this will be fixed once the llvm fork is updated to LLVM 12, as the file [only exists in LLVM 12](https://github.com/llvm/llvm-project/tree/release/12.x/compiler-

[2021-08-02 11:38] KerryRJ commented on #60
Cleaned workstation, retried instructions instructions, finally got the compiler building.

[2021-08-02 11:38] #60 closed, assigned to nobody

[2021-08-03 13:03] N3xed opened #63 "Build fails on git clone"
[code]
I'm guessing the `lock.toml` file references an inexisting commit for libc.

[2021-08-03 13:08] MabezDev commented on #63
Correct. As the libc changes were merged into master last night I have just pushed a new `Cargo.lock` in the `esp` branch. Cloning again or running `git pull --force` on the esp branch should do the trick :)

[2021-08-03 13:18] N3xed commented on #63
Yup solved it, thanks.

[2021-08-03 13:18] #63 closed, assigned to nobody

[2021-08-03 23:45] NathanMcMillan54 opened #64 "Can't use inline assembly"
When I try to compile anything that uses an assembly macro on any xtensa target, I get this error:

[code]
This is my ``.cargo/config.toml``:

[code]

And I compiled with:
[code]
Did I compile the compiler wrong? Or did I compile the project wrong?

[2021-08-03 23:51] MabezDev commented on #64
Typed Inline asm has not been ported to the xtensa arch yet, see #32. You can however use the `llvm_asm!` macro.

[2021-08-04 00:07] NathanMcMillan54 commented on #64
But when I try to compile [xtensa-lx-rt](https://github.com/esp-rs/xtensa-lx-rt) I get this error because of the ``global_asm!`` macro. How does that get compiled?

[2021-08-04 09:33] MabezDev commented on #64
I see, it seems `global_asm!` has been ported to the `asm!` format, without providing a `global_llvm_asm!` alternative. I'll see what I can do to work around this.

[2021-08-05 09:53] georgik commented on #62
Confirmed. I was able to reproduce the same bug using self-hosted GitHub runner. FYI @andreisfr

Build of 1.53 does not have the issue. Instructions for installing binary artifacts: https://github.com/espressif/rust-esp32-example/blob/main/docs/rust-on-xtensa-installation-aarch64-apple-darwin.md

[2021-08-09 07:43] georgik commented on #62
macOS M1 Rust 1.54.0 artifact is ready - it was built using LLVM 12 branch, which is under review now:
https://github.com/espressif/rust-esp32-example/blob/feature/rust-1.54.0/docs/rust-on-xtensa-installation-aarch64-apple-darwin.md

[2021-08-09 10:49] MabezDev opened #69 "Verify floating point inline asm register allocation works"
This is a bug in the current LLVM backend, should be fixed in the future.

Test case:

Choosing a specific register:
[code]
  However class based register allocation doesn't seem to work yet:
[code]
  Fails with
[code]

[2021-08-10 04:22] georgik commented on #41
Docker image moved to official Espressif DockerHub account: `docker pull espressif/idf-rust`

[2021-08-10 04:30] georgik opened #70 "Measurement of a crate footprint"
Story: As a user, I'd like to know footprint of a create used in my project, so that I can decide whether to use the crate or not in my embedded project.

With Rust it's easy to add dependency like std or some crate. The embedded devices has limited resources and it's important to identify impact of adding a big crate. Adding big dependency might generate application which is not possible to deplo

[2021-08-10 09:40] KerryRJ commented on #69
Any reference for the bug?

[2021-08-10 14:52] jessebraham commented on #70
[cargo-bloat](https://github.com/RazrFalcon/cargo-bloat) will show the storage requirements per crate in the resulting executable.

[2021-08-12 11:19] georgik opened #72 "Support for installation of custom toolchain with Xtensa support via rustup"
Observed state:
- installation is manual and requires several steps: https://github.com/espressif/rust-esp32-example/blob/main/docs/rust-on-xtensa.md#quick-start

Desired state:
- installation is possible via rustup command

[2021-08-12 11:22] georgik commented on #72
Rustup supports custom toolchain when following variable is set RUSTUP_DIST_SERVER.

Question: What is the layout and how we can map our dist files to the layout and how to create index file with metadata?

[2021-08-12 11:44] igrr commented on #72
Linking https://internals.rust-lang.org/t/future-updates-to-the-rustup-distribution-format/4196 which seems to answer the 2nd question. Not sure if anything important has changed about the layout between 2017 and now.

[2021-08-12 14:09] MabezDev commented on #70
Looking a bit closer, I'm not sure cargo bloat will suffice.

* It doesn't seem to work when building C libraries, i.e output from running it in `rust-esp32-std-hello` is:
  1) for version 0.9:
[code]
  2) For version 0.10: `Error: parsing failed cause 'symbols section is missing'.`

* After discussions with @igrr, it doesn't fully analyze the binary only the `.text` section

Perhaps we should exp

[2021-08-13 09:41] MabezDev commented on #64
Hi @NathanMcMillan54, sorry about the trouble - I have added support for the new `asm!` format and merged it into the esp branch. New releases of xtensa-lx, xtensa-lx-rt have been released too with support for this assembly syntax.

Please report back if you run into any issues - hope this helps :)

[2021-08-13 09:41] #64 closed, assigned to nobody

[2021-08-13 10:58] georgik commented on #41
Update: there are two images available right now

- CI image: `docker run -it espressif/idf-rust`
- GitHub action: https://github.com/marketplace/actions/espressif-iot-development-framework-esp-idf?version=rust-latest
- image with examples: `docker run -it espressif/idf-rust-examples`

Images are based on following Dockerfiles:
- espressif/idf-rust layers on top of idf base image: https://github.c

[2021-08-13 10:58] #41 closed, assigned to nobody

[2021-08-13 12:15] NathanMcMillan54 commented on #64
Oh thanks! I'll see if it worked

[2021-08-13 14:48] JurajSadel commented on #70
Just for clarification:
For MSVC:
`rustflags = [
	"-C", "link-arg=/MAP:build.map",
	]`

For GCC:
`rustflags = [
"-C", "link-arg=-Wl,-Map=build.map",
]`

For LLD:
`rustflags = [
"-C", "link-arg=-Map=build.map",
]`

[2021-08-15 18:52] N3xed commented on #70
Just a note for `cargo bloat`: You can specify the symbols section that it's going to look at, so that would be `.iram0.text` and `.flash.text` (you can only specify one section right now).

[2021-08-16 13:24] MabezDev commented on #32
Closed via https://github.com/esp-rs/rust/pull/68

[2021-08-16 13:24] #32 closed, assigned to nobody

[2021-08-18 08:34] georgik commented on #62
Public build will be possible after sync of espressif/llvm-project with LLV 12 support.
Meanwhile it's possible to use binary artifact mentioned above.

[2021-08-19 02:49] MaoniinoaM opened #75 "[Compiling]: can't fine crate for 'core'"
Hi, esp-rs team,

I follow the steps in [ReadMe.md](https://github.com/esp-rs/rust/blob/esp/README.md) and configure the Rust compiling toolchain.
When I try to compile the **esp32-wifi** project, it reports "can't fine crate for 'core'. The log is as below:

root@HP-ProBook-650-G2:/home/***/private/esp32/esp32-wifi-master# cargo build
   Compiling r0 v1.0.0
   Compiling scopeguard v1.1.0
   Compi

[2021-08-19 12:40] MabezDev commented on #75
Like the compiler suggests, passing the `-Zbuild-std=core,alloc` will fix this - provided you are building with the forked compiler with esp support.

Also the most active development in for esp-wifi is going in this PR: https://github.com/esp-rs/esp32-wifi/pull/5

[2021-08-19 12:40] #75 closed, assigned to nobody

[2021-08-19 13:25] MabezDev commented on #57
With the libc & esp-idf std patches upstreamed into Rust, and the esp-idf patches tracked [here](https://github.com/espressif/esp-idf/issues/7412) and [here](https://github.com/espressif/esp-idf/issues/7411), can we close this now?

[2021-08-19 14:14] ivmarkov commented on #57
Yes.

[2021-08-19 14:17] #57 closed, assigned to nobody

[2021-08-19 17:23] NathanMcMillan54 commented on #64
This isn't related to this issue, when I recompiled Xtensa Rust and try to compile anything I get this error:
[code]

Is ``liblto_plugin.so`` a file I need to install?

[2021-08-19 18:32] jessebraham commented on #72
I'm posting a bunch of information here, for lack of a better place. I may compile a full document at some point better explaining all this.

- - -

### Directory Structure

The root directory in the below tree is `RUSTUP_DIST_SERVER`.
The `rustup/` directory within the root is `RUSTUP_UPDATE_ROOT`.

[code]

### Manifest Format

[code]

[2021-08-19 18:58] MabezDev commented on #64
Seems like you have an old version on xtensa gcc? Try with the latest from here: https://github.com/espressif/crosstool-NG/releases.

[2021-08-19 19:44] NathanMcMillan54 commented on #64
Thanks! I'll try that

[2021-08-20 15:12] MabezDev commented on #62
It's now public - I've updated the esp branch to use said updated fork.

[2021-08-20 15:12] #62 closed, assigned to georgik

[2021-08-20 17:44] #69 closed, assigned to nobody

[2021-08-25 15:49] JurajSadel commented on #70
I've been playing with idf_size.py.

The memory statistics of ( https://github.com/espressif/rust-esp32-example ) with per-archive contributions to ELF file looks like this:

[code]

[code]
For even more detailed statistics, use `--files` argument. It's also able to compare two binaries with `--diff` argument. For more information, please refer to ( https://docs.espressif.com/projects/esp-idf/en/l

[2021-08-25 16:08] igrr commented on #70
@JurajSadel good results so far! The list doesn't seem to include any Rust crates, only C static libraries which come from IDF. Can you look if Rust crates are reflected in the map file somehow, and if yes, what prevents idf_size.py from identifying them?

Regarding `RuntimeError: Target not detected`, can we work around this by using the target specified by idf_size.py's `--target` argument, if i

[2021-08-30 10:34] ivmarkov opened #76 "Backtraces in Rust on ESP-IDF"
**Background:**

Rust has a very useful utility called backtraces. Unlike Rust panics which are an abnormal situation - but still unwind the stack on big iron; for embedded, usually the panic_abort strategy is chosen -
backtraces are invoked programmatically, and allow one to capture programmatically and possibly display the stack of the thread which invoked the backtracing logic.

Usually, this i

[2021-08-30 14:08] JurajSadel commented on #70
@igrr thank you!
I used the `--files` argument on https://github.com/ivmarkov/rust-esp32-std-hello and the small sample of the memory statistics looks like this:

[code]
It looks like `idf_size` is analyzing the **Rust crates** as well. Complete text output is here:
[idf_size --files rust-std-hello.txt](https://github.com/esp-rs/rust/files/7076699/idf_size.--files.rust-std-hello.txt)
 `idf_size` a

[2021-08-30 17:29] N3xed commented on #76
I have some experience with backtraces on `xtensa`, I even ported the `esp-idf`'s backtrace facility to rust [here](https://github.com/N3xed/freertos-esp32-sys/blob/4b7159f3e8d564b0b81d55a102d948f6e346b94e/src/backtrace.rs). And this seemed to work just fine. I'm not sure what you mean with "ghost Rust IPs".

In the `no_std` case printing such a backtrace can be very easily accomplished by setting

[2021-08-31 07:59] ivmarkov commented on #76
As usual, I can't reproduce it when I need it. But I do have some screenshots from when it used to happen.
What I mean by "ghost IPs" is that the ESP backtrace algorithm seems to detect IPs (or PCs) which are in the stack memory - this is my hypothesis - from *previous* callstacks, from previous functions' invocations. These are not necessarily overwritten with new data simply because of how Rust

[2021-08-31 08:02] ivmarkov commented on #76
And the other problem is whether the "stack memory dump" is the way forward for RiscV, and whether it will remain just a binary dump of stack memory, or whether it will be wrapped in an elf coredump executable first. The latter would allow Espressif folks to get rid of the "GDB server" approach - if you look at what they are doing with the stack memory dump in the ESP IDF monitor...

[2021-08-31 08:09] ivmarkov commented on #76
@igrr ^^^

[2021-08-31 08:43] igrr commented on #76
I think there are basically 3 options for this on RISC-V:
* Include DWARF sections into the application binary and decode the CIEs and FDEs. There is support for that in ESP-IDF (CONFIG_ESP_SYSTEM_USE_EH_FRAME). The binary becomes 20-100% larger (which may or may not be a big issue depending on how large it was before that).
* Having a GDB-server-like communication running between the host and the

[2021-08-31 09:00] ivmarkov commented on #76
Might be an option indeed, need to try out and see how much the size grows. Was hoping we won't get there.

By "GDB server" I meant [this hack](https://github.com/espressif/esp-idf/blob/master/tools/gdb_panic_server.py#L10) actually, where the app outputs either a raw stack memory dump (then the GDB server hack is necessary) or the app outputs an elf-encoded coredump which contains _only_ one elf

[2021-08-31 09:30] igrr commented on #76
There's not much of an algorithm, really — get the SP from the current frame, use it to read the next frame, repeat until finished. Regarding the Rust compiler creating proper frames — I don't know, I was hoping that would handled by LLVM. If you manage to find a reproducer, please share it and I'll take a look.

[2021-08-31 09:49] ivmarkov commented on #76
Might be difficult as Rust is involved, but here it goes:
* Clone [rust-esp32-std-hello](https://github.com/ivmarkov/rust-esp32-std-hello) from Git
* Clone [esp-idf-svc](https://github.com/esp-rs/esp-idf-svc) from Git
* Insert `unsafe { esp_idf_sys::abort() };` in `esp-idf-svc`, [here](https://github.com/esp-rs/esp-idf-svc/blob/master/src/wifi.rs#L631).
* Wire `rust-esp32-std-hello` to the patched

[2021-09-06 09:38] georgik opened #78 "Add dependency on llvm-project directly to ESP-IDF `tools/tools.json`"
Add dependency on github.com/espressif/llvm-project directly to `tools/tools.json` in ESP-IDF, so that it's not necessary to manually download, extract and set path to the package.

[2021-09-12 19:27] lexxvir opened #79 "Build the core crate in the CI"
Hi there,

It would be nice, if the CI that builds Rust compiler for Xtensa also build and distribute the core crate for Xtensa arch.

I know that in the embedded world it's usual case to build the core crate with specific optimizations (debug vs release) that required in particular case. But in my daily work I never touch or rebuild the core crate.

Thanks in advance!

[2021-09-16 13:24] georgik commented on #72
Closing: Rustup limitation does not allow to deploy custom toolchain from custom location.
Opened new issue for different solution: https://github.com/esp-rs/rust-build/issues/1

[2021-09-16 13:24] #72 closed, assigned to jessebraham

[2021-09-16 13:30] georgik commented on #78
This feature might take longer to develop. Moving to Q4.

[2021-09-16 13:31] georgik commented on #78
@JurajSadel please use this issue to track the progress.

[2021-09-16 14:08] georgik commented on #70
Next steps:
- fix idf.py size
- add instructions to rust-esp32-example how to produce table of footprints

[2021-09-28 23:19] mladedav opened #81 "UdpSocket::bind cannot be linked"
I tried to use the std library for rust on esp32 but I am running to problems when compiling code that should bind a udp socket. I get an error about undefined reference to bind. If I comment out the networking work (which leaves me with a mostly empty program), the code compiles.

I tried both with TcpListener and UdpSocket and both fail on the linking phase.

I am sorry if I am making something

[2021-09-28 23:27] MabezDev commented on #81
Please update to 1.55, which includes the libc fixes few `bind` and a few others :).

[2021-09-28 23:49] mladedav commented on #81
@MabezDev I will, thank you. Just to check, I probably have to build that from source?

I downloaded this one from https://dl.espressif.com/dl/idf-rust/dist/x86_64-pc-windows-msvc/rust-1.54.0-dev-x86_64-pc-windows-msvc.zip but changing the version to 1.55 (and dropping the dev) results in 404.

[2021-09-28 23:51] jessebraham commented on #81
You can find pre-built artifacts here, as well as installation scripts:
https://github.com/esp-rs/rust-build/

[2021-09-29 00:07] mladedav commented on #81
Upgrading to 1.55 solved the issue.

Thank you both for your assistance.

[2021-09-29 00:07] #81 closed, assigned to nobody

[2021-10-14 07:12] JurajSadel commented on #78
The dependency has been merged.

[2021-10-14 15:52] georgik commented on #78
Thank you. It should simplify future installations.

[2021-10-14 15:52] #78 closed, assigned to JurajSadel

[2021-10-18 10:09] MabezDev opened #85 "esp8266 target has atomic_cas enabled which it doesn't support"
For the next release this should be removed.

[2021-10-19 14:35] MabezDev commented on #85
Fixed in latest rebase of 1.55 branch

[2021-10-19 14:35] #85 closed, assigned to MabezDev

[2021-10-20 08:29] JurajSadel commented on #70
- [idf_size.py](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/performance/size.html)  can be used on `esp-idf` based projects.
- [Cargo bloat](https://github.com/RazrFalcon/cargo-bloat) can be used on pure `rust` project but only `bin`, `dylib` and `cdylib` crate types are supported.

[2021-10-20 08:29] #70 closed, assigned to JurajSadel

[2021-10-22 09:56] ivmarkov opened #86 "Targets for esp32s3"
Given that the ESP-IDF master branch does support esp32s3, perhaps it is time to add the two relevant targets to the compiler as well (the `*-espidf` one as well as the bare-metal one).

I would assume the S3 chip is supported by the Espressif LLVM fork in the meantime, right?

[2021-10-22 10:22] MabezDev commented on #86
Correct,

[code]

I'll add a idf, and no_std target now.

[2021-10-22 10:45] ivmarkov commented on #86
Mr Obvious here, but these should have CAS enabled.     :)

[2021-10-22 10:51] MabezDev commented on #86
Indeed, for once we don't have to worry about atomics. Building on my machine now.

[2021-10-22 13:07] andresv opened #87 "LLVM ERROR: Error while trying to spill A9 from class AR"
Got this error while building `num-rational`.

[code]

[2021-10-22 14:58] MabezDev commented on #86
Now available in the esp-1.56.0 branch :)

[2021-10-22 14:58] #86 closed, assigned to nobody

[2021-10-26 15:40] MabezDev commented on #87
Thanks for the report! We've been seeing this periodically for a while, I'd really like to nail this thing.

Do you think you could supply the `llvm-ir` for building `num-rational`? Prepending `RUSTFLAGS='--emit=llvm-ir'` should be enough.

[2021-10-27 23:01] MabezDev commented on #87
Also a couple more details if you don't mind:

* target (esp32, esp32s2) etc
* compiler version

Thank you!

[2021-10-28 03:30] luojia65 opened #89 "Merge into main branch rust-lang/rust?"
By now developers have to compile whole custom Rust toolchain to work with xtensa isa. Is there any possibility to merge xtensa instruction set support into main branch Rust? Then developers can install them easily by using rustup toolchain add command.

[2021-10-28 05:19] mcilloni commented on #89
I don't think this can be done until the Xtensa backend is merged into upstream LLVM, but I could be wrong.

[2021-10-28 08:56] andresv commented on #87
Minimum reproducible code: https://github.com/andresv/rust-esp32-std-mini/tree/create-llvm-error

* ESP32
* 1.55-dev installed using https://github.com/esp-rs/rust-build

[code]

[2021-10-28 09:52] MabezDev commented on #89
@mcilloni is correct, Rust won't accept Xtensa support upstream without atleast an experimental backend in LLVM upstream.

With the riscv chips, we've already upstreamed everything we can.

[2021-10-28 10:07] MabezDev commented on #87
Thanks @andresv!

FYI that first error can be fixed by upgrading to 1.56 release.

[2021-10-29 07:18] andresv commented on #87
Indeed first one is fixed by 1.56. Do you have a hunch the for second one. I try to currently strip down one of the libs to bare minimum hoping that this magically goes away.

[2021-10-30 07:47] emmabritton opened #90 "Stack overflow when sleeping on ESP32-S2 with multiple prints/HAL"
I'm not sure where the bug is, and so I'm not this is the right repo to raise this.

I tried this code:

[code]
Full project at https://github.com/raybritton/esp32-rust-bug

I expected to see this happen: The execution should pause for 1 second

Instead, this happened: A stack overflow is detected and the device reboots infinitely.

If `println!("mid");` or `println!("before");` or `let perip...pu

[2021-11-02 13:31] MabezDev commented on #90
The main task stacksize by default is pretty small, perhaps try increasing to say 8192 bytes.

`CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192` inside your sdkconfig.defaults file.

[2021-11-12 17:02] bugadani opened #92 "`File::metadata()?.len()` returns 0"
I'm not sure where I should report issues that are either libc or std, so I hope this is either the right place or someone knows.

I'm trying to read the size of an open file. I have two options to do this:
 - `fs::File::metadata()`
 - a custom C implementation

The C impl looks like this:
[code]

I have the following snippet:
[code]

The C implementation returns the correct size (for example, 868

[2021-11-17 23:48] MabezDev commented on #92
So it seems the underlying `metadata()` call invokes this portion of code: https://github.com/rust-lang/rust/blob/c9c4b5d7276297679387189d96a952f2b760e7ad/library/std/src/sys/unix/fs.rs#L772-L789. The libc call it makes is `fstat64`, however a grep of the `newlib` component in esp-idf shows no results, but it has got `fstat` implemented at least.

I think this needs to be implemented in esp-idf, o

[2021-11-18 07:41] bugadani commented on #92
I am slightly confused by the heap of `cfg` macros, but isn't `fstat` imported as `fstat64` in https://github.com/rust-lang/rust/blob/c9c4b5d7276297679387189d96a952f2b760e7ad/library/std/src/sys/unix/fs.rs#L59 for `espidf` targets as well?

[2021-11-18 16:14] jessebraham opened #93 "error: linking with `xtensa-lx106-elf-gcc` failed: exit status: 1"
Using `rustc-1.56.0.1` installed from the _rust-build_ repository. Building for the ESP8266 in `dev` mode seems to result in the following error:

[code]

Curiously, building in `release` seems to resolve the issue. This can be reproduced by executing the following:

[code]

The `Cargo.toml` manifest for this repository contains the following configuration for build profiles, not sure if `lto` is

[2021-11-18 22:07] jessebraham commented on #93
I've disabled `lto` for the `dev` profile and this seems to have resolved the linker error. Not sure why it won't work for `dev` but will for `release`.

[2021-11-24 13:43] MabezDev commented on #93
I think this is related to https://github.com/rust-lang/compiler-builtins/issues/347. Doesn't look like there is a solution yet, just some work arounds & theories.

[2021-11-29 17:24] bugadani opened #95 "Not supported instr error"
I have the following snippet:

[code]

Trying to compile it, the build fails with: `LLVM ERROR: Not supported instr: <MCInst 271 <MCOperand Reg:42>>`. Slight modifications of this example can halt the compiler in a (seemingly, I got bored after 15 minutes of waiting) infinite loop.

This is a minimized repro. What's especially interesting is that deleting the D variant causes the code to compile.

[2021-11-30 13:03] bugadani commented on #95
Repro project: https://github.com/bugadani/xtensa-rust-bug-repro

[2021-11-30 13:06] MabezDev commented on #95
Thank you @bugadani! The repro project is very useful, hopefully we should be able to track this down relatively quickly.

[2021-11-30 14:40] MabezDev commented on #95
Ouch, maybe not as simple as I thought. I can reproduce the error with your repo, however when I ask `rustc` to emit llvm ir it magically compiles...

Do you see the same behavior?
[code]

[2021-11-30 15:23] bugadani commented on #95
If this is similar enough:

`❯ cargo +esp rustc --target=xtensa-esp32-espidf -Z build-std=std,panic_abort -Zbuild-std-features=panic_immediate_abort -- --emit=llvm-ir`

Then no, I have this output, without any `.ll` files:

[code]

[2021-11-30 22:07] MabezDev commented on #95
Did not emit .ll files for me either, but setting `RUSTFLAGS` did. Once it did, the LLVM error went away on my machine :thinking:.

[2021-12-01 09:02] bugadani commented on #95
You are right, I see the same thing on my Windows machine. Interesting, I wouldn't have expected any difference between RUSTFLAGS and cli arguments.

[2021-12-04 21:35] mladedav commented on #90
Similar stuff happens to me too. What's weird about it is that the stack overflow occurs early if there is a function call in main. If I comment out the call the stack overflow does not happen but control never gets inside the function.

Adding the main task stack size line into sdkconfig doesn't seem to change anything.

[2021-12-08 09:21] andresv commented on #87
FYI: tried with 1.57 and LLVM13 and got the same error.

[2021-12-08 11:05] bugadani opened #96 "Can't read files using `fs::read` and `fs::read_to_string`"
I tried reading files using the fs helper functions `read` and `read_to_string`. I was lazy to verify the actual return value, but the length of the returned data was considerably shorter (< 4 bytes) than the contents of the files.

Reading the files using `File::open().read()` worked as expected. Writing the files using either `io::Write` or `std::fs::write` works.

[2021-12-08 11:50] bugadani commented on #96
Example:

[code]

Output:

[code]

[2021-12-23 12:34] MabezDev commented on #95
Hi @bugadani, we've fixed this issue in LLVM and should be available in the next release! Will keep this open until its available publicly.

[2021-12-23 14:17] MabezDev commented on #90
The function probably gets inlined into main, then causing the stack overflow. You can try increasing the stack further or running  your other big operation in a new thread.

[2022-01-01 07:22] UnTraDe opened #99 "Default allocator doesn't guarantee allocation bigger than 4?"
Allocating a type with alignment bigger than 4 bytes sometimes gets allocated on address which is not a multiple of that alignment, causing accesses to fail `debug_assert!` in `slice::from_raw_parts_*`

[code]

Note that the alignment of `Something` is 8, and sometimes the pointer is not a multiple of 8, causing a panic in `for x in &mut v {` in debug builds.

Happens on ESP32 with Rust STD librar

[2022-01-02 14:39] Eroc33 opened #100 "Link error when using some `std::fs` functions"
`std::fs::File.set_len`/`ftruncate`
------------------------------

When using `std::fs::File.set_len` anywhere in the project a link error occurs referencing `ftruncate`:

Relevant excerpt
[code]

<details>
<summary>Full build output</summary>
<pre>
euan@Euan-Desktop:~/esp-idf-ftruncate-link-bug-repro$ cargo build
    Blocking waiting for file lock on build directory
   Compiling bindgen v0.59.2

[2022-01-04 04:37] ryanc-me commented on #90
Similar issue here also.

I have a function that writes TCP packets out via a `TcpStream`, using a buffer of `&[u8]`. With the function included in main, even right at the end, my app crashes almost immediately. The issue doesn't occur if the function is commented out.

Oddly, the `&[u8]` buffer is only 512 bytes, but even raising the stack size by tens of kilobytes does not help.

I tried:
- Sett

[2022-01-05 13:59] MabezDev commented on #99
Thanks for the report, and the helpful testcase!

This should be fixed in this branch with this commit: https://github.com/esp-rs/rust/commit/2e592a919c28f14a0b30bcf6e25536fe25d63f13.

I have also submitted the fix upstream (see the linked PR).

[2022-01-12 06:52] georgik commented on #79
Thank you @lexxvir for the suggestion.
We already included some tools in binary form in 1.57.0.2 build: `--tools=clippy,cargo,rustfmt`
Example of build workflow: https://github.com/esp-rs/rust-build/blob/main/.github/actions/build/build-tools/action.yaml#L14

Any about which flag is required to build the binary core and include it in dist artifact?
Configuration script in Rust source code dir is:`

[2022-01-12 07:30] lexxvir commented on #79
Hi @georgik !

Sorry, I don't certainly know what should be done. I think we need the same "settings" as for thumb* targets.
After brief searching I found two places in the repo that need to tweak:
1. The [Dockerfile](https://github.com/rust-lang/rust/blob/7baa7afd0fc8061c5b815a7aab9b40d1cd406ce8/src/ci/docker/host-x86_64/dist-various-1/Dockerfile)
2. And maybe the [build-manifest](https://github.

[2022-01-13 22:14] MabezDev commented on #99
This patch is now included in _our_ 1.58 release. It's still not been accepted upstream, but hopefully it will soon!

Closing this now.

[2022-01-13 22:14] #99 closed, assigned to MabezDev

[2022-01-13 22:15] MabezDev commented on #95
Thanks for your patience @bugadani, this should now be fixed in the 1.58 release of the fork (includes the fix inside our LLVM 13 release). Please let me know if you encounter any more issues :)

[2022-01-13 23:55] bugadani commented on #95
Thanks! I'll return with some feedback as soon as the binaries are released. In the mean time, could you please link the commit that fixed the issue? For one, it should be a good reference here, and I'm also interested in what went wrong :) Thank you!

[2022-01-14 00:06] MabezDev commented on #95
I'm glad you asked actually! I just realised the PR hasn't actually made it into the llvm13 release just yet. Will reopen this issue (sorry for the noise!).

As for what went wrong, the esp32 has hardware loop registers and in your test case it was possible to generate multiple loop entries which weren't being handled correctly in the backend.

[2022-01-14 16:49] bugadani commented on #95
Yup, 1.58.0.0 loops without making progress. At least I cancelled the build after 38 minutes that usually takes like 5.

[2022-01-16 12:11] derchr opened #102 "LLVM ERROR: Not supported instr: <MCInst 284 <MCOperand Reg:42>>"
Hello,
I run into this error when I try to compile the crate `deflate` as a dependency:
[code]
This dependency is needed by the `png` crate.
The bug only appears in the release build. Debug build runs fine.

I'm building against the default ESP32 target and tried both the stable Rustc 1.57.0.0 and the preview version Rustc 1.58.0.0.
Let me know if I need to attach more informations.
Thanks!

[code

[2022-01-17 20:15] MabezDev commented on #102
Duplicate of #95

[2022-01-17 20:15] #102 closed, assigned to nobody

[2022-02-07 10:21] ivmarkov opened #106 "Xtensa multicore: AtomicXX::swap() broken for atomics smaller than 32 bit"
`AtomicXX::swap()` does not work correctly when the atomic is smaller than 32 bit (i.e. AtomicU16, AtomicBool, possibly AtomicU8 too).

I suspect the LLVM atomic generation code is wrong, as these work just fine on  riscv32imc (`esp32c3`) and (I would assume) single-core Xtensa (`esp32s2`), where atomics are lowered to libcalls using critical sections (implemented in ESP-IDF).

[Here's a repo that

[2022-02-07 10:21] ivmarkov commented on #106
@MabezDev @igrr ^^^ Kind of severe.

[2022-02-07 10:56] ivmarkov commented on #106
Forgot to mention: tried esp Rustc 1.57 and 1.58, both are affected. Not sure if the LLVM Espressif fork was updated for 1.58 but the point is, that problem may have been always there.

[2022-02-08 19:42] MabezDev opened #107 "Increase esp STD targets `max_atomic_width` to 64?"
Atomic load, store & CAS routines are emulated in the newlib component of esp-idf all the way up to 64 bits. Even for targets with native atomic support, 64bit atomics are emulated.

Therefore I think it should be safe to increase `max_atomic_width` to 64.

[2022-02-10 12:07] MabezDev commented on #106
Thanks for the test case @ivmarkov, we've fixed this in our LLVM fork. I'll update this issue when the new LLVM release is ready.

[2022-02-10 15:05] ivmarkov commented on #106
Is this fix available in the GH Espressif LLVM repo? I might want to rebuild the compiler. That is, unless a new LLVM release is imminent.

[2022-02-10 15:37] MabezDev commented on #106
Not available on github just yet, but here is a patchfile you can apply. I hope we can have a release out by next week.

[code]

[2022-02-11 19:32] ivmarkov commented on #107
We probably want to upstream this for `riscv32imc-esp-espidf`?

[2022-02-19 19:08] MabezDev commented on #106
Now available in the the github repo: https://github.com/espressif/llvm-project/commit/8a934946c0dd8ffabed82b6678ffde40629e6be6.

Will be live in this fork with the next Rust release.

[2022-02-20 18:51] ivmarkov opened #110 "Extending time_t to u64 (c_longlong)"
As per information from @igrr , ESP-IDF 5.0 will soon extend the `time_t` type from 32 to 64 bits.

The `esp-idf-*` crates can handle this transparently, as they have full access to the ESP-IDF environment.

The situation is not so rosy with our Rust STD support, which  relies on manually-defined types in the Rust [libc crate](https://github.com/rust-lang/libc):
(In particular, the `time_t` type f

[2022-02-20 18:53] ivmarkov commented on #110
Just occurred to my mind that we can have Option 2 *and* Option 3 together too.

[2022-02-22 14:20] MabezDev commented on #107
I've updated the targets in https://github.com/esp-rs/rust/commits/esp-1.59.0.0, however this causes an issue for pio builds. They are fixed to v4.3.2, instead of the 4.3 release branch which is still getting backports. Perhaps its acceptable to leave pio users on 1.58, and hope that pio defaults to v4.4 soon?

[2022-02-22 17:53] ivmarkov commented on #107
Hmm, can you paste the output from the build? I can't imagine how the pio build could be affected by that.

[2022-02-22 17:54] ivmarkov commented on #107
Oh you mean 4.3.2 does not have the 64 bit atomics? Don't worry, I can patch those in, for the pio build.

[2022-02-23 13:17] MabezDev commented on #107
By the way, maybe we shouldn't apply patches on native build? Or atleast provide a way to override the patching. Building using `native`, with `ESP_IDF_VERSION = { value = "release/v4.3" }` inside `.cargo/config.toml` doesn't work because the patches fail to apply.

[2022-02-23 15:39] ivmarkov commented on #107
4.3 (native or not) does need patching, as there is still a lot of stuff missing there:
* A lot of the atomics for riscv32imc
* Some of the atomics for esp32s2
* A bug in the handling of thread local destructors (without this fixed, every join on a thread crashes)

If latest 4.3 fails to patch, we need to see why and branch the patching (as in one for 4.3.2, another for (?) 4.3.3 and so on)

Anoth

[2022-02-24 11:40] MabezDev commented on #95
This is now fixed in the 1.59 release, the specif commit in LLVM is https://github.com/espressif/llvm-project/commit/d735e99d2b5d6befc9a22def69849991c52caf97. Thanks for your patience!

[2022-02-24 11:40] #95 closed, assigned to MabezDev

[2022-02-24 11:41] #107 closed, assigned to MabezDev

[2022-02-24 15:29] ivmarkov commented on #107
It seems none of the above patches are necessary anymore for `release/4.3` because everything that needed patching is now merged there!
https://github.com/espressif/esp-idf/compare/v4.3.2...release/v4.3

Why the native build applies patches to `release/v4.3` is a mystery to me - will check. They should *only* be applied for tag `v4.3.2` and nothing else.

[2022-02-25 15:24] MabezDev commented on #110
I like option 2 & 3 together, provided the libc maintainers will allow us that cfg flag. I think most people (excluding us) generally pick a idf version and stick with it. It seems like upgrading to V5 from V4 wouldn't need to change the cargo config, as the cfg would essentially become a no-op, so it would be safe to leave it in there? I suppose that depends on how the feature is implemented in l

[2022-02-25 15:39] jessebraham commented on #110
Sorry, missed this when it was first posted.

I think we're probably all in agreement here, options 2 & 3 seem like the best path forward to me as well. Don't really have much else to add that hasn't already been said.

[2022-02-25 15:50] ivmarkov commented on #110
Not really. Assuming *only* Option 2 is implemented:
If you keep the flag there when downgrading from V5 to V4 (or the other way around - as in you don't have the flag but upgrade from V4 to V5 - does not really matter if you go left or right), then libc will be compiled with c_ulonglong enabled, which would be wrong for V4. What is saving us is that after compiling libc (and std), `esp-idf-sys` c

[2022-02-25 15:59] ivmarkov commented on #110
@igrr  ^^^

[2022-02-25 20:52] MabezDev commented on #106
Fixed in the 1.59 release, thanks for the report :)

[2022-02-25 20:52] #106 closed, assigned to MabezDev

[2022-02-28 12:20] MabezDev commented on #96
Hello @bugadani,

I've been looking into the file system related issues, starting with this one. It seems in idf v4.4 (native) I can't reproduce your error, and with idf 4.3 (platformio) doesn't compile.

Here is my test repo, https://github.com/MabezDev/esp-fs-test-suite, please point out anything I might have missed.

[2022-02-28 13:09] bugadani commented on #96
Interesting, I still have this issue with idf v4.4. My project was set up based on https://github.com/ivmarkov/rust-esp32-example so it's possible something went wrong here.

[2022-03-01 12:14] MabezDev commented on #96
So interestingly, compiling for Xtensa in this case the esp32, I can reproduce your error on v4.4.

[code]

In this case the first three bytes seem to be missing (seems this has also been reported in https://github.com/esp-rs/esp-idf-sys/issues/65)

[2022-03-03 14:26] MabezDev commented on #100
Thanks for the report @Eroc33, it's much appreciated! Sorry for the delay in getting to this.

The `lstat` fix is simple, as will be fixed in esp-idf in future releases, for now I have also patched it into `esp-idf-sys`, see https://github.com/esp-rs/esp-idf-sys/pull/75.

`ftruncate` is a bit more intricate, and will take a bit more time to get a patch prepared.

[2022-03-03 23:15] MabezDev commented on #92
Finally tracked this one down, it seems the definition for `stat` on the C/Rust border.

* size of libc::newlib::stat (Rust side), 80 bytes
* size of stat on C side: 60 bytes

Now to figure out which side is wrong, and what fields need to change.

[2022-03-04 14:13] MabezDev commented on #110
FYI [This](https://github.com/rust-lang/libc/blob/7650116c3005a64120b3f08e072ac87d4a839de4/src/unix/newlib/mod.rs#L33) was recently accepted, so I would imagine we can extend it for the espidf usecase.

[2022-03-04 14:49] ivmarkov commented on #110
Yep, I saw that 'if' already.
The thing is, it is if-ing by `target_os` which I think is well accepted, because `target_os` is always present and part of the compilation target info.

We would instead be if-ing on an arbitrary cfg flag, which is not part of the information the compilation target carries with it:
* Basically `cfg(all(target_os = "espidf", espidf_long_time_t))`
* ... or - in case we

[2022-03-04 14:51] ivmarkov commented on #110
By the way, when is this change coming to ESP-IDF V5?

[2022-03-08 15:22] MabezDev commented on #96
Looks like a miscompilation issue. If I set `opt level = 0`, it works fine, but `opt level = 1` or `opt level = 'z'` either fails to compile or produces the buggy code.

[2022-03-14 16:36] MabezDev commented on #92
This has now been fixed in the [esp-rs/rust 1.59.0.0.1 branch](https://github.com/esp-rs/rust/commits/esp-1.59.0.1), upstream PR is pending.

Compiler builds are being worked on but you are welcome to build the compiler yourself if you want to test this out!

Thanks for your patience :)

[2022-03-14 16:36] #92 closed, assigned to MabezDev

[2022-03-14 16:37] bugadani commented on #92
Thanks a lot, I'll give it a try as soon as I can :)
Edit: actually, it looks like I've undeveloped the code that used this... Well, thanks anyway for the fix!

[2022-03-14 16:44] MabezDev commented on #100
Hi @Eroc33, `ftruncate` is now implemented in esp-idf (backport to v4.4 will be available soon) which should solve the issues you've encountered. Thanks for your patience!

[2022-03-14 16:44] #100 closed, assigned to MabezDev

[2022-03-15 11:18] MabezDev commented on #96
Ran this test case on Xtensa (esp32), with all opt-levels, here are the results.

## opt-level = 1

Compilation failure:

`fix up value out of range`

## opt-level = 2

Runtime failure:

[code]

## opt-level = 3

Runtime failure:

[code]

## opt-level = 's'

Runtime failure:

[code]

## opt-level = 'z'

Runtime failure:

[code]

[2022-03-15 23:26] MabezDev commented on #90
FYI you might be able to analyze the stack size of your functions with https://github.com/japaric/stack-sizes.

Closing for now.

[2022-03-15 23:26] #90 closed, assigned to MabezDev

[2022-03-15 23:30] MabezDev commented on #93
Just following up on this, seems although this hasn't been fixed yet its been tracked down to https://github.com/rust-lang/cargo/issues/10118#issuecomment-1006000210. This is why it works in release, because there are no overflow checks etc.

[2022-03-21 23:22] MabezDev opened #113 "Increase atomic width for esp32s2 bare metal target"
For the esp32s2 & esp8266, what does the LLVM backend wrt to word sized load/stores, are they guaranteed to be atomic? This is not the case for RISCV LLVM backend hence opening this issue.

[2022-03-21 23:23] MabezDev opened #114 "Set `atomic_cas` to false in `xtensa_base.rs`"
This affects the esp8266 & esp32s3.

[2022-03-24 13:49] MabezDev commented on #113
The current Xtensa LLVM backend (tor: llvm13) guarentees all aligned load/stores are atomic (the same optimization as available in GCC). This means we can actually increase the atomic width to 32 for the esp32s2 module. It's important to note this may change, as the changes for RISCV for declined by LLVM upstream so I guess we'll wait and see.

[2022-04-05 00:02] jeffutter commented on #96
I’ve run into this problem too. Writing _seems_ to work. The files get created, but reading them, they are empty (not just missing 3 characters).

In my case, I can’t seem to work around it with opt-level = 0. I think that makes my firmware too large to fit into ram or something and it locks up while booting.

[2022-04-05 10:15] MabezDev commented on #96
If you're using a chip with 2MB of flash, this might be the case. When testing I was using an esp32 with 4MB of flash.

[2022-04-11 14:35] MabezDev commented on #96
Would you guys mind trying the 1.60.0.0 branch of the compiler? It seems this has been fixed by updating libc, which is sort of surprising. Would be great if either of you could confirm :).

[2022-04-11 14:43] bugadani commented on #96
`String is: "hello"` this seems good, indeed!

[2022-04-11 15:10] #96 closed, assigned to MabezDev

[2022-04-19 11:34] #114 closed, assigned to MabezDev

[2022-04-19 11:34] #113 closed, assigned to MabezDev

[2022-04-19 19:01] MabezDev commented on #87
This should now be fixed as of the 1.60.0.1 release of our fork. Thanks for the report and the helpful test case!

[2022-04-19 19:01] #87 closed, assigned to nobody

[2022-04-22 08:16] bugadani opened #117 "Unable to list files in a SPIFFS partition"
Given is the following test code, built on a CMake setup (with some details omitted):

[code]

[code]

I expect the following output:

[code]

Instead, the output I get is the following:

[code]

The OS error is unrelated (SPIFFS seems to indicate the end of folder iteration by returning a value that gets turned into EIO), but note that the path in the DirEntry has an empty filename.

This issue i

[2022-04-24 19:08] stappersg commented on #89
Where to check the status?

URLs that I'm missing:
* LLVM  xtensa branch
* issue that describes the merge of xtensa into LLVM
* issue that describes the merge of "LLVM xtensa" into Rust

[2022-04-26 09:15] MabezDev commented on #89
- https://github.com/espressif/llvm-project
- https://github.com/espressif/llvm-project/issues/4
- This issue.

[2022-05-17 13:25] klenkiven opened #123 "Ubuntu 22.04 is using openSSL 3.0 as default"
~/.rustup/toolchains/esp-1.60.0.1/bin/cargo: error while loading shared libraries: libssl.so.1.1: cannot open shared object file: No such file or directory

[2022-05-22 10:56] stappersg opened #124 "Sync with upstream"
Please catch-up with upstream.

[2022-05-22 12:59] MabezDev commented on #124
We follow the stable release cycle. The esp-rs/rust is rebased on the latest stable release (1.61).

[2022-05-22 12:59] #124 closed, assigned to nobody

[2022-05-22 13:26] stappersg commented on #124
OKay.

The  2_900 commits are many and indeed a few compared to the 59_000

![image](https://user-images.githubusercontent.com/35434094/169697289-9ecfe2b7-208c-4df0-b503-c12d6a272cfc.png)

Regards
Geert Stappers
Who did send in merge request #120

[2022-05-27 01:54] Squirrelcoding opened #125 "Where do I install cmake 3.4.3 or greater?"
I feel like this is a dumb question.

I have been trying to look for version `3.4.3` for `cmake` in order to build the compiler however I can't find it. The furthest I got to installing it was [this](https://cmake.org/pipermail/cmake/2016-January/062616.html). Does this version even exist? How can I build the compiler if I can't install version `3.4.3` or newer?

[2022-05-27 10:51] MabezDev commented on #125
cmake 3.4.3 is over 6 years old, you just need a cmake that is _atleast_ as new as 3.4.3. By the way you don't need to compile from source (unless you're doing some compiler development), you can download a prebuilt compiler from https://github.com/esp-rs/rust-build/releases :)

[2022-05-27 10:51] #125 closed, assigned to nobody

[2022-05-30 16:06] MabezDev commented on #117
Hey @bugadani, thanks for your patience! I think I've tracked this down to another mismatch of structs on the C side and rust side.

The files are created, and when you step into the `ReadDir` Iterator, if you look carefully the entries are being populated; with one problem. A zeroed field not included in the C side happens to overlap with the start of the name field, meaning the name on the Rust

[2022-05-30 16:37] MabezDev commented on #117
This is an esp-idf issue, specifically this [definition](https://github.com/espressif/esp-idf/blob/73be74fd71aeec03a972cfe0a9b2f19edc8ea3fa/components/newlib/platform_include/sys/dirent.h#L45).

`d_ino` should be type `ino_t`, but its defined as an `int`. `sizeof(int) == 4, sizeof(ino_t) == 2` on the esp-idf platform, hence this failure. I'll submit a fix asap :).

[2022-05-31 13:47] MabezDev commented on #117
The final part `Err(Os { code: 5, kind: Uncategorized, message: "I/O error" })` was yet another issue; this time with spiffs. The spiffs module can emit `SPIFFS_VIS_END`, even though this is _not_ a publically documented error code. According to the developer [it is not an error, and should not be emitted](https://github.com/pellepl/spiffs/issues/77#issuecomment-197006848).

I've now submitted the

[2022-05-31 13:56] bugadani commented on #117
Awesome, thanks :)

[2022-06-15 12:13] bugadani opened #127 ""error: fixup value out of range" while trying to emit asm with thin LTO"
This issue is a (currently) low-information report about a bug I've hit. Trying to generate the assembly listing of a pretty big project, I get the error in the title.

Some details:

The project is based on [this CMake-first template](https://github.com/ivmarkov/rust-esp32-example). Probably not related, it just makes my life awkward here :)

Build used to compile (without a few flags): ` cargo +

[2022-07-02 05:52] ivmarkov commented on #110
@igrr ^^^. Was this change released for ESP-IDF 5 or not?

[2022-07-02 10:09] igrr commented on #110
@ivmarkov IDF v5.0 hasn't been released yet, but the `master` branch is now using the new toolchain with sizeof(time_t) == 8. (Starting from commit https://github.com/espressif/esp-idf/commit/bf43076c044a58429ebd90ac508e32dd82321af1)

[2022-07-02 11:29] ivmarkov commented on #110
@igrr Thanks, that's all I needed to know. This means, we have to upstream in Rust `libc` the check for `esp_idf_long_time_t` ASAP.

[2022-07-04 13:50] MabezDev commented on #117
Thanks for the report @bugadani. This is now fixed & backported to V4.4, so I'm closing this issue :). You may need to remove `.embuild/` and rebuild to pull in the fixes from the v4.4 branch.

[2022-07-04 13:50] #117 closed, assigned to MabezDev

[2022-07-15 14:39] MabezDev commented on #93
So I think this is almost certainly LTO's fault, but I think because we are using a GCC linker. I guess it is discarding some important symbols... like panic :D. I've only just come to this conclusion because I'm messing around with LTO on the STD port, and running into the same issues.

I am hoping that with LLD support tracked in https://github.com/espressif/llvm-project/issues/11, these issues

[2022-07-15 14:39] #93 closed, assigned to MabezDev

[2022-08-02 21:10] N3xed opened #132 "`std` build fails with newest rust nightly"
The latest working nightly was the previous one, so `2022-08-01`. This also caused `esp-idf-sys` CI to fail (only the one run that's using current nightly, the other three use esp-rs/rust).

<details>
<summary>Build output</summary>

**Errors**
[code]

**Warnings**
[code]

</details>

@MabezDev

[2022-08-03 16:22] ivmarkov commented on #132
I'm looking into it.

[2022-08-03 19:15] ivmarkov commented on #132
https://github.com/rust-lang/rust/pull/100119

[2022-08-05 10:32] MabezDev commented on #132
Thanks @ivmarkov!

[2022-08-05 10:32] #132 closed, assigned to ivmarkov

[2022-08-11 13:56] MabezDev commented on #18
The Rust ABI is wrong, it needs to be updated. Reference for how it should be done is here: https://github.com/espressif/llvm-project/blob/e9f57cdbcf3e0a63f395e683ccfaf7c4e6e1b093/clang/lib/CodeGen/TargetInfo.cpp#L11241

[2022-08-11 14:05] ollpu commented on #18
Structs seem to be incorrectly split between registers and stack, when single arguments should be exclusively kept in one of them according to the ISA manual:

To demonstrate the disparity, C-code built as a custom component with `esp-idf-sys` (which to my understanding uses GCC):

[code]
Rust code:
[code]
outputs:
[code]

[2022-08-16 16:35] MabezDev commented on #18
@ollpu I'm working on this now, could you provide your test case as a repo?

[2022-08-17 01:11] ollpu commented on #18
@MabezDev Here you go: https://github.com/ollpu/esp-rustc-abi-bug. Compiles, ~~but I can't test it on hardware right now~~. The output happens to be this:

[code]

[2022-08-18 22:07] MabezDev commented on #18
Thanks for the test cases @ollpu! I extended them a little more here: https://github.com/MabezDev/esp-rustc-abi-bug/. I think I have the ABI fixed up in https://github.com/esp-rs/rust/commit/564a0ce80e6837e3a90c5b8adf9ea15a2beff64e.

I'll see if we can get a patch release of our compiler out soon. In the meantime, and if you are able, could you try out the branch above? It would require compiling

[2022-08-19 01:21] ollpu commented on #18
@MabezDev Looking good!

Before:

[code]

After:
[code]

Edit: Ran the new tests on the old compiler as well. Looks like they don't break there.

[2022-08-19 10:33] MabezDev commented on #18
Thanks, @ollpu! I've just pushed to the 1.63.0.1 release branch with this fix included. Builds should be available soon :)

[2022-08-19 10:33] #18 closed

[2022-08-19 12:27] georgik commented on #18
Artifacts will become available here: https://github.com/esp-rs/rust-build/releases/tag/v1.63.0.1

[2022-08-22 20:33] bugadani opened #134 "Suspected miscompilation using 1.63.0.0"
I was not able to try the following code with 1.63.0.1 due to an independent issue, but the following code compiles, then unexpectedly panics at runtime:

[code]

[2022-08-23 13:54] MabezDev commented on #134
I can't repro on 1.63.0.1, but perhaps I don't have the right setup, would it be possible to link a repo where you can reproduce?

[2022-08-23 13:57] bugadani commented on #134
I don't have a complete setup I can share and I don't this it needs anything special. This is the exact code copied from my project (a reduced version I added to my set of compiler tests) and it's possible this was fixed in 1.63.0.1 but I could not set it up to compile my project yesterday. I'll try again with the newer compiler, thanks for the confirmation!

[2022-08-23 14:13] bugadani commented on #134
So, unrelated issue, but this is why I can't check on 1.63.0.1:

[code]

Works as expected on GitHub Actions, so it's either an issue in the MSVC build artifacts, or in my setup (which works as expected with 1.63.0.0)

[2022-08-23 14:27] MabezDev commented on #134
Hmm, not too sure really, looks like an internal compiler bug maybe? I believe `STATUS_ACCESS_VIOLATION` is usually some kind of memory error, but I don't really know much more than that.

Any ideas @georgik?

[2022-08-23 18:25] MabezDev commented on #110
From the meeting, we made the preliminary decision to use the `cfg` route.

The default behavior will be to _opt-in_ to 64bit time, this is to not break v4.4 users. In two years we may wish to flip the meaning or add a new flag for _opting-out_ of 64bit time when v4.4 is deprecated and v5.0 becomes the default.

Crates that require modification:

- libc - for changing the types
- esp-idf-sys - for

[2022-08-24 00:08] ollpu commented on #18
Heads up: We noticed that between updating from `1.63.0.0` to `1.63.0.1`, `std::thread::sleep` (via `esp-idf-sys`) no longer works – it doesn't wait at all. I didn't have time to comb through the call tree yet, but this could be indicative of an ABI related miscompilation.

[2022-08-25 13:48] bjoernQ opened #135 "Weird behavior with 1.63.0.2 on ESP32 with debug builds"
The code in https://github.com/bjoernQ/miscompile prints 26.608885 when compiled in release mode on 1.63.0.2 but prints 0.015625 when compiled in debug mode.

Also, on 1.63.0.1 (and 1.63) it prints the correct  26.608885 in debug and release mode.

[2022-08-25 13:51] bjoernQ opened #136 "Printing / Formatting f64 crashes"
This code
[code]

works correct for debug builds on ESP32 but crashes for release builds like this:
[code]

This happens on the current (1.63.0.2) version and at least a few older ones

[2022-08-26 06:44] bjoernQ commented on #135
It is even reproducible with much less code:

[code]

This gives me 2.020576 (this seems to change randomly) on 1.63.0.2 debug but the correct 2.0933332 in release - always correct for 1.63

If I change to `#[inline(always)]` it calculates the correct value

[2022-08-31 01:12] ollpu opened #137 "u128 miscompilation in 1.63.0.2"
The following code
[code]
prints (on `-C opt-level=z`)
[code]

The test is reduced from `std::thread::sleep` which currently gets stuck sleeping forever. It's pretty particular about the details, otherwise it might work correctly or cause panics in the format code.

I've also added this to https://github.com/ollpu/esp-rustc-abi-bug

[2022-08-31 16:15] MabezDev commented on #137
Thanks for the test case!

I'm really struggling with this one, I'm pretty sure anything that is printed is wrong.

For instance, if you add a couple of asserts to that test case:

[code]
You'll find that the actual values there _are_ correct. I have also confirmed this by printing the numbers a byte at a time and reconstructing the number manually, which indicates an issue with printing.

I imagi

[2022-08-31 17:36] ollpu commented on #137
Good point, I may not be triggering any incorrect behavior other than the prints.

Now I tried modifying `std` like this:

[code]
This keeps printing `4294967295` indefinitely, but this doesn't happen if I copy the function into my own code as is. Different compiler flags for `std`?

[2022-08-31 19:59] MabezDev commented on #137
I don't _think_ so, because we use the `build-std` feature of cargo, it should build core/std with the same args as the project.

[2022-08-31 21:01] MabezDev commented on #137
Hmm, perhaps this is related to the depth of the call stack, just copying some offending functions to the demo application doesn't cause the issue :thinking:

[2022-08-31 21:04] ollpu commented on #137
This might be completely unrelated to this bug, but something fishy is still going on with the calling ABI. This is the part of `as_millis()` that calls `__multi` to perform a 128-bit multiplication, seconds by 1000000.

[code]

So to my reading, the first parameter is correctly put in `a10:a11` (u64 parameter) and `a12:a13` (zero), but the second parameter is incorrectly split into `a14` (constan

[2022-09-01 10:31] bugadani commented on #134
Got a hint for you guys:

If I remove `codegen-units = 1` from my Cargo.toml, I don't experience the `STATUS_ACCESS_VIOLATION` error with 1.62.0.2.

So I'm able to use 1.63.0.2 with the following profile:

[code]

[2022-09-05 07:50] bugadani commented on #134
Update: I still experience this issue using 1.63.0.2.

[2022-09-06 12:49] simonchatts commented on #137
Just to say, I have also observed this, with 1.63.0.2, only on xtensa (almost the same app works fine on an ESP32-C3).

`Duration::as_micros()` fails (under the guise of `thread::sleep()` triggering watchdog), and `Duration::as_millis()` in regular application code gives totally bogus values.

[2022-09-08 10:58] mikeWShef opened #141 "Dead link in readme.md"
The first link in the installation instructions: (Please see the most up to date instructions in the [esp rust book](https://esp-rs.github.io/).) is dead, it seems like it sould go to: https://esp-rs.github.io/book/

[2022-09-08 11:02] MabezDev commented on #141
Thanks! I'll make sure to fix that the next time I rebase :)

[2022-09-08 22:38] MabezDev commented on #137
Hey folks,

I've spent the last week debugging the current ABI, reading various Xtensa ISA documents, as well as looking into the Xtensa LLVM backend and how it handles parts of the ABI in codegen.

I've just pushed [esp-1.63.0.3 branch](https://github.com/esp-rs/rust/tree/esp-1.63.0.3) which I believe now solves all the ABI issues. I would appreciate it if you could build that branch and test it

[2022-09-09 16:01] ollpu commented on #137
Can confirm that the original test now works correctly, as does `std::thread::sleep`. Thank you!

[2022-09-09 16:01] simonchatts commented on #137
Thanks for all the work @MabezDev! I can confirm the 1.63.0.3 branch solves both my u128 issues.

[2022-09-09 18:36] PTD110 commented on #137
[rust-esp32-std-demo](https://github.com/ivmarkov/rust-esp32-std-demo) seems to run fine now - no longer backtraces after `std::thread::sleep`. Thank you @MabezDev  for tackling this!

[2022-09-16 11:26] Zagitta commented on #137
It should be noted this also manifests itself as UART `Rx::read_bytes_blocking` not actually blocking 😅

[2022-09-19 21:47] thefill commented on #137
@MabezDev any plans to release this?

[2022-09-20 14:03] MabezDev commented on #137
Due to the release of 1.64.0.0 being so soon, we've released that instead of 1.63.0.3. The branch is available here: https://github.com/esp-rs/rust. Builds will be available soon, but slower than usual as we have to rebuild LLVM too.

[2022-09-20 14:03] #137 closed, assigned to nobody

[2022-09-20 14:04] MabezDev commented on #136
This should now be fixed by the 1.64.0.0 release.

[2022-09-20 14:04] MabezDev commented on #135
This should now be fixed by the 1.64.0.0 release.

[2022-09-20 14:04] #135 closed, assigned to nobody

[2022-09-20 14:06] MabezDev commented on #110
With https://github.com/rust-lang/libc/pull/2913 merged, I believe we can now close this.

[2022-09-20 14:06] #110 closed, assigned to MabezDev

[2022-09-20 16:50] thefill commented on #137
legend, thx for clarification

[2022-09-22 15:46] bugadani commented on #134
Update: I still experience this issue with 1.64.0.0

[2022-09-27 07:37] elwerene opened #143 "Thread name is not set"
I tried this code:

[code]

I expected to see this happen: The thread/freertos task gets names `thread1`

Instead, this happened: The thread/freertos task gets names `pthread`

### My guess of a reason

There's not `set_name` implemented for `espidf`:

https://github.com/esp-rs/rust/blob/esp-1.64.0.0/library/std/src/sys/unix/thread.rs#L205

So the pthread name is not set and it defaults to `pthrea

[2022-09-27 09:05] axos88 commented on #96
This is still an issue with the esp32c3, with the built-in compiler, I am getting a core dump:

[code]

Code is:

[code]

[2022-09-27 09:20] axos88 commented on #96
I am using an esp32c3 with 4MB of flash and esp-idf master (5.1)

[2022-09-28 13:32] elwerene commented on #143
I dug a bit more into it and I found that the thread is created in `Thread::new` and the name is afterwards set in `Thread::set_name`. But in the espidf libc, the name must be set prior to creating a new thread/task.

This works:

[code]

[2022-09-28 13:33] elwerene commented on #143
Maybe there's some function to set a task name in freertos after it was created?

[2022-09-28 13:48] elwerene commented on #143
I made this little helper function which I'm using in own of my projects until this issue is resolved:

[code]

[2022-09-30 13:45] MabezDev commented on #96
@axos88 Sorry to hear you're having issues. esp-idf v5 is not yet officially supported, so there is still some work to do. With that said, this should be fixable by upgrading libc in the standard library to a version which includes this PR: https://github.com/rust-lang/libc/pull/2913. Then you will also need to pass `--cfg espidf_time64` in your RUSTFLAGS.

Feel free to open a new issues if it per

[2022-10-01 10:20] axos88 commented on #96
Ah gotcha. Does that mean if I update to latest nightly, and include the RUSTFLAG, it should work?

[2022-10-01 10:45] axos88 commented on #96
Shouldn't adding a dependency and patch to ```libc = { git = "https://github.com/rust-lang/libc.git" }``` fix the issue?

My rustflags are: ```rustflags = "--cfg espidf_time64 -C default-linker-libraries "```

[2022-10-01 14:17] MabezDev commented on #96
Unfortunately not, because cargo patch does not patch std dependencies.

[2022-10-01 19:21] axos88 commented on #96
@MabezDev, so do you have any pointers on how to do what you are suggesting? upgrading libc in the standard library to a version which includes https://github.com/rust-lang/libc/pull/2913?

[2022-10-07 16:14] lynaghk commented on #136
I don't believe this has been fixed, I can repro on an esp32-s3 with:

[code]

built with `rustc 1.64.0-nightly (f53d2361e 2022-09-20)` installed via

[code]

Full trace:

[code]

[2022-10-17 12:40] #141 closed, assigned to nobody

[2022-10-17 12:42] MabezDev commented on #134
We've tracked this down internally inside LLVM. We've decided for now not to issue a point release because we already need to do some testing to transition to LLVM 15 before the next Rust release.

[2022-10-17 12:43] MabezDev commented on #136
You're right, thanks, I guess I wasn't compiling in release when I tested this again. I will reopen and will investigate shortly.

[2022-10-18 19:47] vojty opened #164 "Possible miscompilation error?"
Hello, I've found a strange error and I'm not sure what the problem might be. I've been trying to use ESP32 + SCD41 with no luck. I tracked down the problem to this piece of code:

[code]
For the given example data `[9, 94]` the correct result should be `35` but I'm getting `55`. It works correctly on the blank Rust project using `cargo new` but it fails when I deploy the code to my ESP32.

I've c

[2022-10-19 06:41] andresv commented on #164
Tried on ESP32-WROOM-32  and got `35` using `esp rust v1.61.0-nightly`

[2022-10-19 06:48] vojty commented on #164
I've updated the comment with my configuration

[2022-10-19 06:58] andresv commented on #164
Tried with both versions from https://wokwi.com/projects/345876589283639891 and also with `overflowing_shl`. Both of them return `35`.
I don't want to update my toolchain yet to 1.64.

[code]

[2022-10-19 11:59] MabezDev commented on #164
Hi @vojty, sorry you've been running into this issue. Fortunately, its a duplicate of https://github.com/esp-rs/rust/issues/134 which we already have a fix for! It will be released in the next 2 weeks with the 1.65 Rust toolchain. I tested your code with the new LLVM version locally and it works correctly with your input data :).

I'll close this for now, in favour of the tracking issue here: http

[2022-10-19 12:12] vojty commented on #164
@MabezDev Thank you!

[2022-11-03 15:18] MabezDev commented on #134
This should now be fixed with the 1.65.0.0 release, grab a compiler here: https://github.com/esp-rs/rust-build/releases/tag/v1.65.0.0

[2022-11-03 15:18] #134 closed, assigned to MabezDev

[2022-11-03 15:18] #127 closed, assigned to MabezDev

[2022-11-03 15:19] MabezDev commented on #79
We heavily rely on the build-std feature for both core and std builds so I don't think we'll look to do this now, thanks for the suggestion though!

[2022-11-03 15:19] #79 closed, assigned to georgik

[2022-11-03 17:23] bugadani commented on #127
Unfortunately, this is still present:

`cargo +esp rustc --color=always --features="$default_config" --target="xtensa-esp32-espidf" -Z build-std="std,panic_abort" -Zbuild-std-features="panic_immediate_abort" -- --emit=asm`

<img width="373" alt="image" src="https://user-images.githubusercontent.com/977627/199791353-ee4edef7-1845-40b5-9e4b-d3aeae7e0af0.png">

 Thankfully ASM is more a nice to have

[2022-11-05 12:55] zRedShift commented on #136
﻿@MabezDev, I noticed the same bug when formatting f32 on release mode. Tested on 1.65.0.0.
It's both misprinting and crashing with f32 and f64. f32:
[code]
f64:
[code]
On the `dev` profile It doesn't happen, f32 and f64 print normally.
If I enable `debug-assertions` but not `overflow-checks` for \`release, I get a panic in float formatting:
[code]
And if I enable `overflow-checks`, everything see

[2022-11-05 13:09] zRedShift opened #146 "`"fat"` LTO Miscompilation"
I tried this code (repo: [esp-spinlock-repro](https://github.com/zRedShift/esp-spinlock-repro)):

[code]

When I'm running code I've compiled with "fat" LTO, on 1.64.0.0 or 1.65.0.0, with the `xtensa-esp32s3-espidf` target on my ESP32S3, regardless of the `esp-idf` branch, my code hangs indefinitely after 256 iteratiots:
[code]
If I disable LTO or move to "thin" LTO, the code keeps chugging along

[2022-11-05 14:29] N3xed commented on #146
Likely related to a scheduling issue I've had a while back.

Basically, the MPMC queue used for the scheduler is implemented as a ringbuffer using atomic operations, and that ringbuffer has 8 bit (i.e. 256) indices.
Now presumably through some atomics bug, wrapping arithmetic bug or a bug in the implementation, the ringbuffer never wraps around, leaving the queue in the full state indefinitely. So

[2022-11-05 20:27] vojty commented on #164
@MabezDev I've upgraded the toolchain to 1.65 using https://github.com/esp-rs/espup
[code]

Unfortunately, the calculation is still wrong. For given `[171, 13]` the result should be `40`. It works in the Rust playground https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=35171f35fd49a47b9055dbf7a9834c4f

The program executed on the ESP chip outputs `246`

Code:
[code]

Log
[cod

[2022-11-07 11:17] MabezDev commented on #164
Thanks for the update, it seems like it's not entirely fixed. For me, it works on all opt-levels apart from when `opt-level = 's'`, is this the case for you?

[2022-11-07 18:06] vojty commented on #164
I can confirm that `opt-level = "z"` works just fine

[2022-11-12 03:55] FloppyDisck opened #149 "Weird behavior on variable assign inside a match case"
I tried this code:

[code]

I expected to see this happen: Its supposed to print `49 315`

Instead, this happened: It prints `-197961600000000000000000000 -197961600000000000000000000`

Interesting enough, if you add `println!("");` inside the match cases, the output comes out fine...

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-11-13 12:34] usbalbin commented on #149
Could this be #136?

[2022-11-13 20:14] MabezDev commented on #149
This issue was fixed back in 1.63, please upgrade your toolchain.

It's not, but we have a fix for that coming in the next toolchain :)

[2022-11-13 20:14] #149 closed, assigned to nobody

[2022-11-16 09:23] Erhannis opened #150 "Crossbeam-channel deadlocks when cap = 0"
I'm not sure who to file this report with, haha, but here seemed like the most correct, AFAICT.
I cloned https://github.com/ivmarkov/rust-esp32-std-demo and got that working, which was nice.  I then made a few modifications, and got those to work.  As I started with something more complicated, I wanted CSP-like channels, so I added the [crossbeam-channel](https://github.com/crossbeam-rs/crossbeam/

[2022-11-21 13:01] MabezDev commented on #136
This issue has been found and fixed with this commit in llvm: https://github.com/espressif/llvm-project/commit/7c941f49ad7141567dae396918abbd237ce5d083 we expect to close this issue (for good this time :D) with the 1.66.0.0 rust release :).

[2022-11-24 15:29] MabezDev commented on #146
@N3xed Do you know where the original discussion for the MPMC issue exists? I can't seem to find it across the various esp-rs repos. Might be helpful in producing a smaller example, especially if it was happening without LTO.

[2022-11-24 20:38] N3xed commented on #146
Unfortunately, I've never created an issue for this, so this is the only place as far as I know. When I discovered this issue I worked around it, went on to other stuff, and never got around to it until @zRedShift brought it up in the matrix chat.

[There is my discussion about it with @ivmarkov in the matrix chat though.](https://matrix.to/#/!LdaNPfUfvefOLewEIM:matrix.org/$jaP1vzOslNntkymVvmcO5b6

[2022-11-25 10:52] zRedShift commented on #146
@MabezDev @N3xed @ivmarkov
I significantly reduced the minimal reproduction and moved it to `no_std`. I also updated the `README.md` and added the disassembly diff (sort of).

[code]

Please look for more at: https://github.com/zRedShift/esp-spinlock-repro

[2022-11-25 20:15] zRedShift commented on #146
@MabezDev this is getting to the limit of what I can do, but compiling the following branch: https://github.com/zRedShift/esp-spinlock-repro/blob/without-heapless/src/main.rs (without `heapless`) with thin and fat LTO and comparing the disassembly (the decompiled C code seemingly is the exact same), we have only a minimal set of changes:
<details>
<summary>thin LTO</summary>

[code]

</details>

<

[2022-11-25 22:32] zRedShift commented on #146
Narrowed it down to `4200052f 00 4e a1        sll        a4,a14` in the fat lto file
it should be `4200052f 00 4f a1        sll        a4,a15`, right before the CAS loop.